Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

Add support for Comick
  .github/workflows/dokku.yml
  .github/workflows/tests.yml
  migrations/20250621185345-add-comick.js
  migrations/sqls/20250621185345-add-comick-up.sql
  package.json
  pyproject.toml
  src/db/utilities.py
  src/scrapers/__init__.py
  src/scrapers/comick/__init__.py
  src/scrapers/comick/comick.py
  src/scrapers/comick/comick_api.py
  src/scrapers/mangadex/mangadex_api.py
  src/tests/conftest.py
  src/tests/scrapers/comick/__init__.py
  src/tests/scrapers/comick/api_data/chapters.json
  src/tests/scrapers/comick/api_data/manga.json
  src/tests/scrapers/comick/test_comick.py
  src/tests/scrapers/mangadex/api_data.json
  src/tests/scrapers/mangadex/feed.xml
  src/tests/scrapers/mangadex/test_mangadex.py
  src/tests/testing_utils.py
  uv.lock
Due: scraper

Fix theme change
  web/src/components/Root.tsx
  web/src/components/TopBar/TopBar.tsx
Due: frontend

Increase latest entries warning threshold
  scripts/deploy_scrapers.sh
  web/__tests__/tsconfig.json
  web/eslint.config.mjs
  web/old.eslintrc.cjs
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/MangaAliases.tsx
Due: frontend

Update packages
  package.json
  web/__tests__/api/__snapshots__/manga.test.ts.snap
  web/__tests__/api/admin/__snapshots__/services.test.js.snap
  web/__tests__/db/postgres-adapter.test.ts
  web/__tests__/utils.tsx
  web/__tests__/views/App.test.tsx
  web/package.json
  web/pnpm-lock.yaml
  web/server/api/admin/services.ts
  web/server/api/index.js
  web/server/db/chapter.ts
  web/server/db/mangadex.ts
  web/src/components/notifications/WebhookEditor.tsx
  web/swagger/components.yaml
  web/vitest.config.ts
Due: frontend

Update packages
  package.json
  pnpm-lock.yaml
  web/eslint.config.mjs
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/MangaAliases.tsx
  web/src/components/MaterialTable/custom-types.d.ts
  web/src/components/MaterialTable/useEditable.tsx
  web/src/components/notifications/DeleteNotificationButton.tsx
  web/src/components/notifications/MangaOverrideSelector.tsx
  web/src/utils/utilities.tsx
  web/src/views/Profile.tsx
Due: frontend

Update dockerfile and replace ts-node
  .github/workflows/tests.yml
  Dockerfile
  web/__tests__/utils.tsx
  web/cypress/package.json
  web/cypress/pnpm-lock.yaml
  web/eslint.config.mjs
  web/loader.js
  web/old.eslintrc.cjs
  web/package.json
  web/pnpm-lock.yaml
  web/server.ts
  web/server/api/admin/manga.ts
  web/server/api/chapter.ts
  web/server/api/index.js
  web/server/api/manga.ts
  web/server/api/rss.js
  web/server/db/elasticsearch/manga.ts
  web/server/db/manga.ts
  web/src/components/notifications/defaultDatas.ts
  web/src/pages/swagger.jsx
  web/src/utils/constants.ts
  web/src/views/MergeManga.jsx
  web/src/views/Notifications.tsx
  web/swagger/index.ts
Due: frontend

Fix cypress tests
  .github/workflows/tests.yml
  Dockerfile
  web/__tests__/tsconfig.json
  web/cypress/cypress.config.ts
  web/cypress/package.json
  web/cypress/pnpm-lock.yaml
  web/cypress/tsconfig.json
  web/cypress/tsconfig.server.json
  web/package.json
  web/pnpm-lock.yaml
  web/server.ts
  web/src/views/Profile.tsx
  web/tsconfig.json
  web/tsconfig.server.json
Due: frontend

Update packages
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

Update packages
  .github/workflows/tests.yml
Due: none

Fix cypress image
  .github/workflows/tests.yml
Due: none

Fix pnpm action
  .github/workflows/tests.yml
Due: none

Fix cypress tests
  .github/workflows/tests.yml
  web/__tests__/api/admin/manga.test.ts
  web/__tests__/api/chapter.test.ts
  web/__tests__/api/manga.test.ts
  web/__tests__/components/MangaAliases.test.tsx
  web/__tests__/constants.ts
  web/__tests__/tsconfig.json
  web/__tests__/utils.tsx
  web/__tests__/views/SignIn.test.tsx
  web/cypress/cypress.config.ts
  web/cypress/e2e/auth/data-management.cy.ts
  web/cypress/e2e/theming.cy.ts
  web/cypress/package.json
  web/server.ts
  web/server/api/admin/manga.ts
  web/server/api/index.js
  web/server/api/rss.js
  web/server/api/services.ts
  web/src/views/Profile.tsx
  web/src/views/SignIn.tsx
  web/tsconfig.json
  web/vitest.config.ts
Due: frontend

Update js file to ts files and misc changes
  .github/workflows/tests.yml
  web/__tests__/api/admin/manga.test.ts
  web/__tests__/api/admin/services.test.js
  web/__tests__/api/search.test.js
  web/__tests__/api/services.test.js
  web/__tests__/components/MangaAliases.test.tsx
  web/__tests__/components/MangaSourceList.test.jsx
  web/__tests__/components/PartialManga.test.jsx
  web/__tests__/utils/formatting.test.js
  web/eslint.config.mjs
  web/package.json
  web/pnpm-lock.yaml
  web/server.ts
  web/server/api/chapter.ts
  web/server/api/manga.ts
  web/server/api/rss.ts
  web/server/api/search.ts
  web/server/db/chapter.ts
  web/server/db/db.ts
  web/server/db/elasticsearch/manga.ts
  web/server/db/elasticsearch/utils.js
  web/server/db/elasticsearch/utils.ts
  web/server/db/index.ts
  web/server/db/manga.ts
  web/server/db/notifications.ts
  web/server/db/utils.ts
  web/server/utils/errors.ts
  web/server/utils/logging.ts
  web/server/utils/validators.ts
  web/src/pages/404.ts
  web/src/pages/manga/[mangaId].tsx
  web/src/pages/profile.tsx
  web/src/views/Profile.tsx
  web/types/modules.d.ts
  web/types/nextjs.ts
  web/vitest.config.ts
Due: frontend

Change cover image referrer policy
  web/server.ts
  web/src/components/MangaCover.tsx
Due: frontend

Proxy mangadex covers
  .github/workflows/tests.yml
  Dockerfile
  web/__tests__/components/GroupedChapterList.test.tsx
  web/__tests__/components/Manga.test.tsx
  web/__tests__/components/PartialManga.test.jsx
  web/__tests__/schemas.ts
  web/next.config.ts
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/GroupedChapterList.tsx
  web/src/components/MangaCover.tsx
  web/vitest.config.ts
Due: frontend

Fix set-output deprecation
  .github/workflows/dokku.yml
Due: none

Include service in merge manga search
  web/__tests__/api/search.test.ts
  web/__tests__/components/manga/MangaServiceTable.test.tsx
  web/__tests__/constants.ts
  web/__tests__/initServer.ts
  web/__tests__/views/MergeManga.test.tsx
  web/__tests__/views/NotFound.test.tsx
  web/server/api/manga.ts
  web/server/db/elasticsearch/manga.ts
  web/server/db/elasticsearch/utils.ts
  web/src/api/admin/manga.ts
  web/src/api/manga.ts
  web/src/api/services.ts
  web/src/api/utilities.ts
  web/src/components/MangaSearch.tsx
  web/src/components/manga/MangaServiceTable.tsx
  web/src/views/App.tsx
  web/src/views/MergeManga.tsx
  web/src/views/NotFound.tsx
  web/types/api/manga.ts
Due: frontend

Path conditions:
  scraper: any of: src/
  frontend: any of: web/
