Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  scraper:
    paths:
      - src/
  frontend:
    paths:
      - web/

Include service in merge manga search
  web/__tests__/api/search.test.ts
  web/__tests__/components/manga/MangaServiceTable.test.tsx
  web/__tests__/constants.ts
  web/__tests__/initServer.ts
  web/__tests__/views/MergeManga.test.tsx
  web/__tests__/views/NotFound.test.tsx
  web/server/api/manga.ts
  web/server/db/elasticsearch/manga.ts
  web/server/db/elasticsearch/utils.ts
  web/src/api/admin/manga.ts
  web/src/api/manga.ts
  web/src/api/services.ts
  web/src/api/utilities.ts
  web/src/components/MangaSearch.tsx
  web/src/components/manga/MangaServiceTable.tsx
  web/src/views/App.tsx
  web/src/views/MergeManga.tsx
  web/src/views/NotFound.tsx
  web/types/api/manga.ts
Due: frontend

Update dokku.yml
  .github/workflows/dokku.yml
Due: none

Add support for cubari
  .github/workflows/tests.yml
  migrations/20250723105224-add-cubari.js
  migrations/sqls/20250723105224-add-cubari-up.sql
  migrations/test/sqls/20200807181921-initTestData-up.sql
  pyproject.toml
  src/scrapers/__init__.py
  src/scrapers/azuki.py
  src/scrapers/base_rss.py
  src/scrapers/base_scraper.py
  src/scrapers/cubari.py
  src/scrapers/reddit.py
  src/tests/scrapers/cubari/__init__.py
  src/tests/scrapers/cubari/cubari.html
  src/tests/scrapers/cubari/test_cubari.py
  src/tests/testing_utils.py
  uv.lock
Due: scraper

Support filtering by service in the chapter list
  web/__tests__/api/manga.test.ts
  web/__tests__/components/ChapterList.test.tsx
  web/__tests__/components/Manga.test.tsx
  web/__tests__/constants.ts
  web/__tests__/utils.tsx
  web/package.json
  web/pnpm-lock.yaml
  web/server/api/manga.ts
  web/server/db/chapter.ts
  web/src/api/chapter.ts
  web/src/api/utilities.ts
  web/src/components/ChapterList.tsx
  web/src/components/Layout.tsx
  web/src/components/MaterialTable/MaterialTable.tsx
  web/src/components/TopBar/TopBar.tsx
Due: frontend

Fix vulnerabilities
  web/package.json
  web/pnpm-lock.yaml
  web/vitest.config.ts
Due: frontend

Update comick migration script and add date to log
  migrations/20250726113624-fix-comick-chapter-url.js
  migrations/sqls/20250726113624-fix-comick-chapter-url-up.sql
  src/scrapers/comick/comick.py
  web/server/utils/logging.ts
Due: scraper, frontend

Build dokku image in pipeline instead on server
  .github/workflows/dokku.yml
Due: none

Updates to logging
  codecov.yml
  maintenance.py
  src/elasticsearch/configuration.py
  src/elasticsearch/methods.py
  src/notifier/discord_webhook.py
  src/notifier/webhook.py
  src/scheduler.py
  src/scrapers/azuki.py
  src/scrapers/base_rss.py
  src/scrapers/base_scraper.py
  src/scrapers/comick/comick.py
  src/scrapers/comick/comick_api.py
  src/scrapers/cubari.py
  src/scrapers/kmanga/api.py
  src/scrapers/kmanga/kmanga.py
  src/scrapers/mangadex/mangadex.py
  src/scrapers/mangadex/mangadex_api.py
  src/scrapers/mangaplus/mangaplus.py
  src/scrapers/reddit.py
  src/scripts/__init__.py
  src/scripts/maintenance.py
  src/setup_logging.py
  src/tests/scrapers/comick/test_comick.py
  src/tests/scrapers/kmanga/test_kmanga.py
  src/tests/scrapers/mangadex/test_mangadex.py
  src/utils/dbutils.py
  src/utils/utilities.py
Due: scraper

Hotfix to get_only_latest_entries
  src/tests/utils/test_dbutil.py
  src/utils/dbutils.py
Due: scraper

Improve KManga chapter parsing and logging
  src/scheduler.py
  src/scrapers/kmanga/kmanga.py
  src/setup_logging.py
  src/tests/scrapers/kmanga/test_kmanga.py
  src/utils/formatter.py
Due: scraper

Fix setting 'next_update' when scraping single series
  src/scheduler.py
Due: scraper

Fix mangadex chapter decimal parsing
  src/scrapers/mangadex/mangadex.py
  src/tests/scrapers/mangadex/api_data/chapters.json
  src/tests/scrapers/mangadex/test_mangadex.py
Due: scraper

Fix MangaSearch tests
  web/__tests__/components/MangaSearch.test.tsx
Due: frontend

Security updates and fix auth token login during navigation
  web/package.json
  web/pnpm-lock.yaml
  web/server.ts
  web/server/api/auth/index.ts
  web/server/tanstackIntegration.ts
Due: frontend

Update packages, fix notification override saving and add a cypress test for it. Add E2E tests for login refreshing when page is loaded
  web/__tests__/components/GroupedChapterList.test.tsx
  web/__tests__/components/MangaSearch.test.tsx
  web/__tests__/components/manga/MangaServiceTable.test.tsx
  web/__tests__/components/notifications/DiscordWebhookEditor.test.tsx
  web/__tests__/db/session.test.ts
  web/__tests__/schemas.ts
  web/__tests__/views/App.test.tsx
  web/cypress/constants.ts
  web/cypress/e2e/auth/auth.cy.ts
  web/cypress/e2e/auth/data-management.cy.ts
  web/cypress/e2e/auth/login-features.cy.ts
  web/cypress/e2e/notifications.cy.ts
  web/cypress/selectors.ts
  web/package.json
  web/pnpm-lock.yaml
  web/server.ts
  web/server/api/auth/oauth2.ts
  web/server/api/manga.ts
  web/server/api/notifications.ts
  web/server/api/rss.ts
  web/server/db/auth.ts
  web/server/db/helpers.ts
  web/server/db/index.ts
  web/server/db/user.ts
  web/server/utils/validators.ts
  web/src/components/notifications/DiscordWebhookEditor.tsx
  web/src/components/notifications/MangaSelector.tsx
  web/src/components/notifications/WebhookEditor.tsx
Due: frontend

Update python dependencies and add support for request retries
  mypy.ini
  pyproject.toml
  scripts/migrate_mangadex.py
  src/constants.py
  src/scheduler.py
  src/scrapers/base_scraper.py
  src/scrapers/kmanga/api.py
  src/scrapers/mangadex/mangadex.py
  src/scrapers/mangadex/mangadex_api.py
  src/scrapers/mangaplus/mangaplus.py
  src/scrapers/mangaplus/protobuf/mangaplus_pb2.py
  src/scrapers/mangaplus/protobuf/mangaplus_pb2.pyi
  src/tests/scrapers/azuki/test_azuki.py
  src/tests/scrapers/kmanga/test_kmanga.py
  src/tests/scrapers/mangadex/test_mangadex.py
  src/tests/testing_utils.py
  src/utils/utilities.py
  uv.lock
Due: scraper

Migrate chapter, manga and search APIs to use zod validation
  web/__tests__/api/__snapshots__/manga.test.ts.snap
  web/__tests__/api/auth.test.ts
  web/__tests__/api/chapter.test.ts
  web/__tests__/api/manga.test.ts
  web/__tests__/api/search.test.ts
  web/__tests__/utils.tsx
  web/__tests__/utils/validators.test.ts
  web/package.json
  web/pnpm-lock.yaml
  web/server.ts
  web/server/api/chapter.ts
  web/server/api/manga.ts
  web/server/api/search.ts
  web/server/db/chapter.ts
  web/server/utils/validators.ts
  web/swagger/components.yaml
  web/types/global.d.ts
  web/types/request.ts
Due: frontend

Migrate notifications, settings and user APIs to use zod validation
  web/__tests__/api/notifications.test.ts
  web/__tests__/api/settings.test.ts
  web/__tests__/api/user.test.ts
  web/__tests__/utils.tsx
  web/server/api/notifications.ts
  web/server/api/settings.ts
  web/server/api/thumbnails.ts
  web/server/api/user.ts
  web/server/utils/validators.ts
  web/types/dbTypes.ts
Due: frontend

Migrate manga admin API to use zod validation
  web/__tests__/api/admin/__snapshots__/manga.test.ts.snap
  web/__tests__/api/admin/manga.test.ts
  web/__tests__/api/manga.test.ts
  web/__tests__/api/notifications.test.ts
  web/__tests__/api/search.test.ts
  web/__tests__/api/user.test.ts
  web/__tests__/utils.tsx
  web/__tests__/utils/formatting.test.ts
  web/__tests__/views/Profile.test.tsx
  web/server/api/admin/manga.ts
Due: frontend

Migrate services admin API to use zod validation
  web/__mocks__/@tanstack/react-router.tsx
  web/__tests__/api/admin/__snapshots__/manga.test.ts.snap
  web/__tests__/api/admin/__snapshots__/services.test.ts.snap
  web/__tests__/api/admin/manga.test.ts
  web/__tests__/api/admin/services.test.ts
  web/__tests__/api/auth.test.ts
  web/__tests__/api/chapter.test.ts
  web/__tests__/api/manga.test.ts
  web/__tests__/api/notifications.test.ts
  web/__tests__/api/search.test.ts
  web/__tests__/api/settings.test.ts
  web/__tests__/api/user.test.ts
  web/__tests__/db/mangadex.test.ts
  web/__tests__/utils.tsx
  web/package.json
  web/pnpm-lock.yaml
  web/server/api/admin/manga.ts
  web/server/api/admin/services.ts
  web/server/api/chapter.ts
  web/server/api/manga.ts
  web/server/api/notifications.ts
  web/server/api/settings.ts
  web/server/api/user.ts
  web/server/db/mangadex.ts
  web/server/db/services/index.ts
  web/server/db/utils.ts
  web/server/utils/validators.ts
Due: frontend
