Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  scraper:
    paths:
      - src/
  frontend:
    paths:
      - web/

Ignore postinstall in CI
  scripts/postinstall.sh
Due: none

Add babel plugin import to deps
  web/package-lock.json
  web/package.json
Due: frontend

Switch to next.js swc compiler
  web/.babelrc
  web/.eslintrc.json
  web/__tests__/db/mangadex.test.js
  web/__tests__/db/session-store.test.js
  web/__tests__/views/Notifications.test.jsx
  web/api/chapter.js
  web/api/notifications.js
  web/api/search.js
  web/babel.config.cjs
  web/jest.config.cjs
  web/jest.config.js
  web/next.config.js
  web/package-lock.json
  web/package.json
  web/server.js
Due: frontend

Fix elasticsearch import
  web/__tests__/stopServer.js
Due: frontend

Update dependencies
  web/__tests__/utils.jsx
  web/package-lock.json
  web/package.json
  web/src/components/MaterialTable/EditableDateTimePicker.jsx
  web/src/pages/_app.jsx
Due: frontend

Misc fixes
  web/.eslintrc.json
  web/__tests__/schemas.js
  web/db/auth.js
  web/jest.config.cjs
  web/package-lock.json
  web/package.json
  web/server.js
  web/utils/logging.js
Due: frontend

Remove dotenv and inspect from start
  web/package.json
Due: frontend

Start using typescript and moved a couple files from js to ts
  web/.eslintrc.json
  web/__tests__/db/session-store.test.js
  web/__tests__/utils/view-counter/manga-view-counter.test.js
  web/api/manga.js
  web/api/settings.js
  web/api/user.js
  web/db/admin/management.js
  web/db/admin/manga.js
  web/db/auth.js
  web/db/chapter.js
  web/db/db.js
  web/db/follows.js
  web/db/index.ts
  web/db/manga.js
  web/db/mangadex.js
  web/db/notifications.js
  web/db/services/index.js
  web/db/services/serviceInfo.js
  web/db/session-store.js
  web/db/session-store.ts
  web/db/utils.js
  web/jest.config.cjs
  web/next-env.d.ts
  web/next.config.js
  web/package-lock.json
  web/package.json
  web/server.ts
  web/tsconfig.json
  web/tsconfig.server.json
  web/types/dbTypes.ts
  web/types/global.d.ts
  web/utils/view-counter/manga-view-counter.js
Due: frontend

fix require
  web/__tests__/utils/view-counter/manga-view-counter.test.js
Due: frontend

move typescript to deps
  web/package-lock.json
  web/package.json
Due: frontend

Update deps
  web/package-lock.json
  web/package.json
Due: frontend

Integrate elasticsearch into the python app
  .github/workflows/pythonapp.yml
  pgsync-schema.example.json
  requirements.txt
  run.py
  run_specific.py
  src/db/models/manga.py
  src/elasticsearch/__init__.py
  src/elasticsearch/configuration.py
  src/elasticsearch/methods.py
  src/elasticsearch/reindex.py
  src/scheduler.py
  src/scrapers/base_scraper.py
  src/tests/conftest.py
  src/tests/db/test_database_functions.py
  src/tests/scrapers/comikey/test_comikey.py
  src/tests/scrapers/kireicake/test_kireicake.py
  src/tests/scrapers/mangadex/test_mangadex.py
  src/tests/scrapers/reddit/test_reddit.py
  src/tests/test_scheduler.py
  src/tests/testing_utils.py
  src/utils/dbutils.py
  web/db/elasticsearch/manga.js
Due: scraper, frontend

Move elasticsearch to services section of actions config
  .github/workflows/pythonapp.yml
Due: none

Fix codemirror
  web/package-lock.json
  web/package.json
Due: frontend

Elasticsearch updates to node
  migrations/20220709082850-update-merge-manga.js
  migrations/sqls/20220709082850-update-merge-manga-up.sql
  web/.eslintrc.json
  web/__tests__/initServer.js
  web/api/admin/manga.js
  web/api/manga.js
  web/api/search.js
  web/db/elasticsearch/manga.ts
  web/db/manga.ts
Due: frontend

Update dependencies
  .github/workflows/jest.yml
  .github/workflows/pythonapp.yml
  requirements.txt
Due: none

Fix env check
  src/elasticsearch/configuration.py
Due: scraper

Fix mangadex group tests
  src/tests/scrapers/mangadex/test_mangadex.py
Due: scraper

add default value for views
  src/elasticsearch/configuration.py
Due: scraper

Fix elasticsearch updates and creates
  src/elasticsearch/methods.py
Due: scraper
