Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  scraper:
    paths:
      - src/
  frontend:
    paths:
      - web/

Update protobuf
  requirements.txt
  src/scrapers/mangaplus/protobuf/mangaplus_pb2.py
Due: scraper

Allow letter prefixes in chapter number
  src/scrapers/mangadex/mangadex.py
  src/tests/scrapers/mangadex/api_data/chapters.json
  src/tests/scrapers/mangadex/test_mangadex.py
Due: scraper

Upgrade mypy and fix mypy errors
  mypy.ini
  requirements.txt
  setup_logging.py
  src/db/models/manga.py
  src/db/utilities.py
  src/scheduler.py
  src/scrapers/azuki.py
  src/scrapers/base_rss.py
  src/scrapers/base_scraper.py
  src/scrapers/mangadex/mangadex.py
  src/scrapers/mangadex/mangadex_api.py
  src/scrapers/mangaplus/mangaplus.py
  src/scrapers/mangaplus/protobuf/mangaplus_pb2.py
  src/scrapers/mangaplus/protobuf/mangaplus_pb2.pyi
  src/scrapers/reddit.py
  src/tests/db/models/test_manga.py
  src/tests/notifiers/test_webhook.py
  src/tests/scrapers/azuki/test_azuki.py
  src/tests/scrapers/kireicake/test_kireicake.py
  src/tests/scrapers/mangadex/test_mangadex.py
  src/tests/scrapers/mangaplus/test_mangaplus.py
  src/tests/test_scheduler.py
  src/tests/testing_utils.py
  src/tests/utilities/test_utilities.py
  src/tests/utils/test_dbutil.py
  src/utils/dbutils.py
  src/utils/formatter.py
Due: scraper

Copy service in service api tests
  .github/workflows/tests.yml
  migrations/20221221130555-reset-service-counter.js
  migrations/sqls/20221221130555-reset-service-counter-up.sql
  web/__tests__/api/admin/services.test.js
  web/__tests__/constants.js
  web/__tests__/dbutils.js
Due: frontend

Exclude automatically generated files from flake8
  .github/workflows/tests.yml
Due: none

update packages and configs
  .coveragerc
  web/next.config.js
  web/package-lock.json
  web/package.json
Due: frontend

Notification overrides frontend
  migrations/20230115212808-notificationOverrides.js
  migrations/sqls/20230115212808-notificationOverrides-up.sql
  web/__tests__/components/manga/MangaServiceTable.test.tsx
  web/api/index.js
  web/api/notifications.ts
  web/db/notifications.ts
  web/loader.js
  web/package-lock.json
  web/package.json
  web/src/api/notifications.js
  web/src/api/notifications.ts
  web/src/components/notifications/DeleteNotificationButton.tsx
  web/src/components/notifications/DiscordWebhookEditor.jsx
  web/src/components/notifications/DiscordWebhookEditor.tsx
  web/src/components/notifications/Layout.tsx
  web/src/components/notifications/MangaOverrideSelector.tsx
  web/src/components/notifications/MangaSelector.jsx
  web/src/components/notifications/NameInput.jsx
  web/src/components/notifications/NameInput.tsx
  web/src/components/notifications/defaultDatas.ts
  web/src/components/notifications/types.ts
  web/src/components/utils/CSRFInput.tsx
  web/src/pages/swagger.jsx
  web/src/utils/constants.ts
  web/src/utils/utilities.tsx
  web/swagger/components.yaml
  web/types/api/notifications.ts
Due: frontend

API tests
  web/__tests__/api/notifications.test.ts
  web/__tests__/api/utilities.ts
  web/__tests__/constants.js
  web/__tests__/utils.tsx
  web/api/notifications.ts
  web/db/notifications.ts
  web/jest.config.cjs
  web/src/utils/utilities.tsx
  web/swagger/components.yaml
  web/swagger/index.js
Due: frontend

Tests
  web/__mocks__/next/router.js
  web/__tests__/components/Manga.test.jsx
  web/__tests__/components/notifications/DiscordWebhookEditor.test.jsx
  web/__tests__/components/notifications/DiscordWebhookEditor.test.tsx
  web/__tests__/components/notifications/MangaSelector.test.tsx
  web/__tests__/components/notifications/WebhookEditor.test.jsx
  web/__tests__/views/admin/MangaAdmin.test.jsx
  web/__tests__/views/admin/Services.test.tsx
  web/src/api/manga.ts
  web/src/components/notifications/MangaOverrideSelector.tsx
  web/src/components/notifications/MangaSelector.tsx
  web/src/components/notifications/utilities.ts
  web/swagger/components.yaml
  web/types/api/manga.ts
  web/types/api/notifications.ts
Due: frontend

eslint cjs instead of json
  web/.eslintrc.cjs
Due: frontend

Update dependencies and increase timeouts
  web/__tests__/components/notifications/DiscordWebhookEditor.test.tsx
  web/package-lock.json
Due: frontend

Revert some package updates
  web/package-lock.json
  web/package.json
Due: frontend

Increase timeout for findByRole
  web/__tests__/components/notifications/DiscordWebhookEditor.test.tsx
Due: frontend

Update python libraries
  requirements.txt
  src/tests/notifiers/test_discord_webhook.py
Due: scraper

Fix mypy errors
  src/notifier/discord_webhook.py
Due: scraper

Notification overrides backend
  src/db/models/notifications.py
  src/db/types.py
  src/notifier/base_notifier.py
  src/notifier/discord_webhook.py
  src/scheduler.py
  src/tests/notifiers/test_discord_webhook.py
  src/utils/dbutils.py
  web/src/components/notifications/defaultDatas.ts
Due: scraper, frontend

Fix frontend bugs
  web/__tests__/components/EditableMangaInfo.test.tsx
  web/__tests__/components/notifications/DiscordWebhookEditor.test.tsx
  web/__tests__/utils.tsx
  web/src/api/manga.ts
  web/src/components/notifications/ColorPicker.jsx
  web/src/components/notifications/DiscordWebhookEditor.tsx
  web/src/components/notifications/MangaOverrideSelector.tsx
  web/src/components/notifications/types.ts
  web/src/components/notifications/utilities.ts
  web/src/utils/utilities.tsx
Due: frontend

Fix mypy error
  src/tests/notifiers/test_discord_webhook.py
Due: scraper

exclude dist,loader and eslintrc from coverage
  web/jest.config.cjs
Due: frontend

chapter releases tests
  web/__tests__/api/chapter.test.js
  web/__tests__/api/notifications.test.ts
  web/api/chapter.js
Due: frontend
