Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

Use extensionless for experimental-specifier-resolution=node replacement
  package.json
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

Update node to 20
  .github/workflows/tests.yml
Due: none

Fix embeds
  web/loader.js
  web/server/db/manga.ts
  web/src/api/services.ts
  web/src/pages/manga/[mangaId].tsx
  web/src/utils/utilities.tsx
Due: frontend

eslint fixes
  web/server/db/chapter.ts
  web/server/db/manga.ts
  web/src/utils/utilities.tsx
Due: frontend

Add release date on hover to grouped chapter list and link to manga page
  web/__tests__/components/GroupedChapterList.test.jsx
  web/server/db/chapter.ts
  web/src/components/GroupedChapterList.tsx
Due: frontend

Apply B, A, C4 and some S rules
  ruff.toml
  src/notifier/base_notifier.py
  src/notifier/discord_webhook.py
  src/notifier/webhook.py
  src/scrapers/mangadex/mangadex.py
  src/tests/notifiers/test_webhook.py
  src/tests/scrapers/azuki/test_azuki.py
  src/tests/scrapers/mangadex/test_mangadex.py
  src/tests/scrapers/mangaplus/test_mangaplus.py
  src/tests/scrapers/reddit/test_reddit.py
  src/tests/testing_utils.py
  src/tests/utils/test_dbutil.py
  src/utils/dbutils.py
Due: scraper

Apply DTZ and ISC rules
  ruff.toml
  scripts/migrate_mangadex.py
  src/scrapers/base_scraper.py
  src/tests/db/test_database_functions.py
  src/tests/test_scheduler.py
  src/tests/utils/test_dbutil.py
  src/utils/dbutils.py
Due: scraper

Apply LOG, INP, PIE, Q and PT rules
  ruff.toml
  run.py
  scripts/migrate_mangadex.py
  src/db/models/authors.py
  src/db/models/groups.py
  src/elasticsearch/configuration.py
  src/scheduler.py
  src/scrapers/base_scraper.py
  src/scrapers/mangadex/mangadex_api.py
  src/tests/db/mappers/test_notification_mapper.py
  src/tests/db/models/test_manga.py
  src/tests/db/test_database_functions.py
  src/tests/notifiers/test_discord_webhook.py
  src/tests/notifiers/test_webhook.py
  src/tests/ruff.toml
  src/tests/scrapers/azuki/test_azuki.py
  src/tests/scrapers/comikey/test_comikey.py
  src/tests/scrapers/mangadex/test_mangadex.py
  src/tests/scrapers/mangaplus/test_mangaplus.py
  src/tests/scrapers/reddit/test_reddit.py
  src/tests/test_scheduler.py
  src/tests/testing_utils.py
  src/tests/utilities/test_utilities.py
  src/tests/utils/test_dbutil.py
  src/utils/dbutils.py
  src/utils/formatter.py
  src/utils/utilities.py
Due: scraper

Apply SIM and ARG rules
  mypy.ini
  ruff.toml
  scripts/migrate_mangadex.py
  src/db/models/manga.py
  src/elasticsearch/reindex.py
  src/notifier/discord_webhook.py
  src/notifier/webhook.py
  src/scheduler.py
  src/scrapers/azuki.py
  src/scrapers/base_rss.py
  src/scrapers/base_scraper.py
  src/scrapers/comikey.py
  src/scrapers/foolslide.py
  src/scrapers/mangadex/mangadex.py
  src/scrapers/mangaplus/mangaplus.py
  src/scrapers/reddit.py
  src/tests/conftest.py
  src/tests/db/models/test_manga.py
  src/tests/db/test_database_functions.py
  src/tests/scrapers/comikey/test_comikey.py
  src/tests/scrapers/mangadex/test_mangadex.py
  src/tests/scrapers/mangaplus/test_mangaplus.py
  src/tests/scrapers/testing_scraper.py
  src/tests/test_scheduler.py
  src/tests/testing_utils.py
  src/tests/utilities/test_utilities.py
  src/tests/utils/test_dbutil.py
  src/utils/dbutils.py
  src/utils/formatter.py
  src/utils/utilities.py
Due: scraper

Apply E1, W, PTH, I, PGH, PLE, PLW and RUF rules
  ruff.toml
  src/scheduler.py
  src/scrapers/azuki.py
  src/scrapers/base_scraper.py
  src/scrapers/comikey.py
  src/utils/dbutils.py
  src/utils/utilities.py
Due: scraper

Formatting
  ruff.toml
  src/db/mappers/chapter_mapper.py
  src/db/mappers/notifications_mapper.py
  src/db/models/manga.py
  src/db/utilities.py
  src/elasticsearch/configuration.py
  src/elasticsearch/methods.py
  src/elasticsearch/reindex.py
  src/errors/errors.py
  src/notifier/__init__.py
  src/notifier/base_notifier.py
  src/notifier/discord_webhook.py
  src/notifier/webhook.py
  src/scheduler.py
  src/scrapers/__init__.py
  src/scrapers/azuki.py
  src/scrapers/base_rss.py
  src/scrapers/base_scraper.py
  src/scrapers/comikey.py
  src/scrapers/mangadex/mangadex.py
  src/scrapers/mangadex/mangadex_api.py
  src/scrapers/mangaplus/mangaplus.py
  src/scrapers/reddit.py
  src/setup_logging.py
  src/utils/dbutils.py
  src/utils/formatter.py
  src/utils/utilities.py
Due: scraper

Run ruff in pipeline
  .github/workflows/tests.yml
Due: none

Fix deprecations
  src/elasticsearch/configuration.py
  src/elasticsearch/reindex.py
  src/tests/notifiers/test_discord_webhook.py
Due: scraper

Fix codecov uploading
  .github/workflows/tests.yml
Due: none

Updated mypy options
  .github/workflows/tests.yml
  mypy.ini
  pyproject.toml
  src/db/models/manga.py
  src/scrapers/base_rss.py
  src/tests/scrapers/comikey/test_comikey.py
  src/tests/scrapers/mangaplus/test_mangaplus.py
  src/tests/testing_utils.py
  uv.lock
Due: scraper

Update web app
  Dockerfile
Due: none

Increase latest entries warning threshold
  src/utils/dbutils.py
Due: scraper

Add support for Comick
  .github/workflows/dokku.yml
  .github/workflows/tests.yml
  migrations/20250621185345-add-comick.js
  migrations/sqls/20250621185345-add-comick-up.sql
  package.json
  pyproject.toml
  src/db/utilities.py
  src/scrapers/__init__.py
  src/scrapers/comick/__init__.py
  src/scrapers/comick/comick.py
  src/scrapers/comick/comick_api.py
  src/scrapers/mangadex/mangadex_api.py
  src/tests/conftest.py
  src/tests/scrapers/comick/__init__.py
  src/tests/scrapers/comick/api_data/chapters.json
  src/tests/scrapers/comick/api_data/manga.json
  src/tests/scrapers/comick/test_comick.py
  src/tests/scrapers/mangadex/api_data.json
  src/tests/scrapers/mangadex/feed.xml
  src/tests/scrapers/mangadex/test_mangadex.py
  src/tests/testing_utils.py
  uv.lock
Due: scraper

Path conditions:
  scraper: any of: src/
  frontend: any of: web/
