Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

Fix env check
  src/elasticsearch/configuration.py
Due: scraper

Fix mangadex group tests
  src/tests/scrapers/mangadex/test_mangadex.py
Due: scraper

Fix elasticsearch updates and creates
  src/elasticsearch/methods.py
Due: scraper

Ability to edit manga status on admin manga page
  web/.eslintrc.json
  web/__tests__/api/admin/manga.test.js
  web/__tests__/api/utilities.ts
  web/__tests__/components/EditableMangaInfo.test.tsx
  web/__tests__/initServer.ts
  web/__tests__/utils/utilities.test.js
  web/__tests__/views/SignIn.test.jsx
  web/api/admin/manga.ts
  web/db/admin/manga.ts
  web/package-lock.json
  web/package.json
  web/src/api/admin/manga.ts
  web/src/api/utilities.ts
  web/src/components/EditableMangaInfo.tsx
  web/src/components/GroupedChapterList.jsx
  web/src/components/MangaInfo.tsx
  web/src/pages/admin/manga/[mangaId].tsx
  web/src/utils/formUtils.ts
  web/src/utils/utilities.tsx
  web/src/views/admin/MangaAdmin.tsx
  web/types/api/manga.ts
  web/types/api/services.ts
  web/types/dbTypes.ts
  web/types/global.d.ts
  web/types/nextjs.ts
  web/utils/logging.js
Due: frontend

Update dependencies and bugfixes
  web/__tests__/db/session-store.test.js
  web/api/index.js
  web/package-lock.json
  web/package.json
  web/setupTests.js
Due: frontend

Fix tests hanging
  web/setupTests.js
Due: frontend

Fix editable manga info tests
  web/.eslintrc.json
  web/__tests__/components/EditableMangaInfo.test.tsx
  web/src/components/EditableMangaInfo.tsx
Due: frontend

fix eslint problems
  web/next.config.js
  web/src/pages/admin/services.jsx
  web/src/pages/follows.jsx
  web/src/pages/login.jsx
  web/src/pages/manga/[mangaId].jsx
  web/src/pages/manga/merge.jsx
  web/src/pages/notifications.jsx
  web/src/pages/profile.jsx
  web/src/views/admin/MangaAdmin.tsx
  web/tsconfig.server.json
Due: frontend

Fix editable manga info tests
  web/__tests__/components/EditableMangaInfo.test.tsx
Due: frontend

Update signin text
  web/src/views/SignIn.jsx
Due: frontend

Ability to create manga services for existing manga from manga admin page
  web/__tests__/api/admin/manga.test.js
  web/__tests__/dbutils.js
  web/__tests__/utils.jsx
  web/api/admin/manga.ts
  web/db/admin/manga.ts
  web/db/utils.js
  web/src/api/admin/manga.ts
  web/src/components/manga/MangaServiceTable.tsx
  web/types/api/manga.ts
Due: frontend

Add react-is to deps as it's not present in styled-components
  web/package-lock.json
  web/package.json
Due: frontend

remove old procfile commands
  Procfile
Due: none

Automatic deployment to dokku using github actions
  .github/workflows/dokku.yml
  .github/workflows/jest.yml
  .github/workflows/pythonapp.yml
  .github/workflows/tests.yml
Due: none

Update default working directory
  .github/workflows/tests.yml
Due: none

Update dokku.yml
  .github/workflows/dokku.yml
Due: none

Dokku deployment fixes
  .github/workflows/dokku.yml
  .github/workflows/tests.yml
Due: none

request logging
  web/server.ts
Due: frontend

update dependencies
  web/__tests__/components/notifications/ColorPicker.test.jsx
  web/next.config.js
  web/package-lock.json
  web/package.json
Due: frontend

Fix log level and start-dev script
  web/package.json
  web/src/pages/_app.jsx
Due: frontend

Fix editing service table
  web/__tests__/utils.jsx
  web/__tests__/views/admin/Services.test.jsx
  web/__tests__/views/admin/Services.test.tsx
  web/src/components/manga/MangaServiceTable.tsx
  web/src/views/admin/Services.tsx
  web/types/api/services.ts
Due: frontend

Eslint fixes
  web/.eslintrc.json
  web/__tests__/utils.jsx
  web/__tests__/views/Profile.test.jsx
  web/__tests__/views/SignIn.test.jsx
  web/__tests__/views/admin/MangaAdmin.test.jsx
  web/src/components/GroupedChapterList.jsx
  web/src/components/Manga.jsx
  web/src/components/MangaSearch.jsx
  web/src/components/Root.jsx
  web/src/views/Follows.jsx
  web/src/views/Profile.jsx
Due: frontend

Path conditions:
  scraper: any of: src/
  frontend: any of: web/
