Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  scraper:
    paths:
      - src/
  frontend:
    paths:
      - web/

Fix lint errors
  web/__tests__/components/notifications/WebhookEditor.test.jsx
  web/src/components/TopBar.jsx
Due: frontend

Remove next link mock
  web/__mocks__/next/link.js
  web/src/components/TopBar.jsx
Due: frontend

Support for Azuki.co
  migrations/20220608202021-add-service-azuki.js
  migrations/sqls/20220608202021-add-service-azuki-up.sql
  mypy.ini
  package-lock.json
  package.json
  requirements.txt
  src/db/__init__.py
  src/db/mappers/__init__.py
  src/db/models/__init__.py
  src/scrapers/__init__.py
  src/scrapers/azuki.py
  src/scrapers/base_scraper.py
  src/scrapers/comixology.py
  src/scrapers/mangaplus/protobuf/__init__.py
  src/tests/db/__init__.py
  src/tests/db/mappers/__init__.py
  src/tests/db/models/__init__.py
  src/tests/notifiers/__init__.py
  src/tests/scrapers/azuki/__init__.py
  src/tests/scrapers/azuki/manga_page.html
  src/tests/scrapers/azuki/release_page.html
  src/tests/scrapers/azuki/test_azuki.py
  src/tests/scrapers/comikey/__init__.py
  src/tests/scrapers/comikey/test_comikey.py
  src/tests/scrapers/comixology/__init__.py
  src/tests/scrapers/kireicake/__init__.py
  src/tests/scrapers/kodansha/__init__.py
  src/tests/scrapers/reddit/__init__.py
  src/tests/testing_utils.py
  src/tests/utils/__init__.py
  src/utils/__init__.py
Due: scraper

Update deps and fix mangadex error log
  requirements.txt
  src/scrapers/base_scraper.py
  src/scrapers/mangadex/mangadex.py
Due: scraper

Update dependencies
  web/package-lock.json
  web/package.json
Due: frontend

Ignore disabled notifications
  src/utils/dbutils.py
Due: scraper

Support title id in chapter url
  src/db/mappers/notifications_mapper.py
  src/notifier/base_notifier.py
  src/tests/db/mappers/test_notification_mapper.py
  src/tests/notifiers/test_discord_webhook.py
  src/tests/notifiers/test_webhook.py
  web/__tests__/components/ChapterList.test.jsx
  web/__tests__/utils/formatting.test.js
  web/api/rss.js
  web/db/chapter.js
  web/db/db.js
  web/src/components/ChapterList.jsx
  web/src/components/GroupedChapterList.jsx
  web/src/components/Manga.jsx
  web/src/utils/formatting.js
  web/swagger/components.yaml
Due: scraper, frontend

Use npm ci instead of install
  package.json
Due: none

Remove next link mock
  .github/workflows/jest.yml
  package.json
  web/package.json
Due: frontend

Try to fix stuff
  web/package-lock.json
  web/package.json
Due: frontend

Downgrade to react 17 for now
  web/package-lock.json
  web/package.json
Due: frontend

Downgrade to react 17 for now
  package.json
  src/scrapers/base_scraper.py
  web/package-lock.json
  web/package.json
Due: scraper, frontend

Fix mangadex errors for good
  src/scrapers/mangadex/mangadex.py
Due: scraper

Fix package lock
  package-lock.json
Due: none

downgrade mui rff
  web/package-lock.json
  web/package.json
Due: frontend

Try to satisfy peer deps
  web/package-lock.json
  web/package.json
Due: frontend

Ignore postinstall in CI
  .github/workflows/jest.yml
  package.json
Due: none

Ignore postinstall in CI
  .github/workflows/jest.yml
Due: none

Ignore postinstall in CI
  package.json
Due: none

Ignore postinstall in CI
  package.json
  scripts/postinstall.sh
Due: none

Ignore postinstall in CI
  scripts/postinstall.sh
Due: none

Ignore postinstall in CI
  package.json
  scripts/postinstall.js
  scripts/postinstall.sh
Due: none
