Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  scraper:
    paths:
      - src/
  frontend:
    paths:
      - web/

update dependencies
  package-lock.json
  web/package-lock.json
Due: frontend

Update pino
  web/package-lock.json
  web/package.json
  web/utils/logging.js
Due: frontend

update snakecase keys
  web/package-lock.json
  web/package.json
Due: frontend

update passport
  web/package-lock.json
  web/package.json
Due: frontend

jest extensions
  migrations/test/sqls/20200807181921-initTestData-down.sql
  web/package-lock.json
  web/package.json
  web/setupTests.js
Due: frontend

Pino fixes
  web/__mocks__/pino.js
  web/server.js
  web/utils/logging.js
Due: frontend

Revert "Pino fixes"
  web/__mocks__/pino.js
  web/server.js
  web/utils/logging.js
Due: frontend

Revert "Update pino"
  web/package-lock.json
  web/package.json
  web/utils/logging.js
Due: frontend

update dependencies
  web/package-lock.json
Due: frontend

update next to version 12
  web/__tests__/components/MangaInfo.test.jsx
  web/package-lock.json
  web/package.json
  web/src/components/MaterialTable/TableToolbar.jsx
  web/src/components/Root.jsx
  web/src/pages/swagger.jsx
  web/src/views/Follows.jsx
Due: frontend

Added support for comikey
  migrations/20220120193943-add-service-comikey.js
  migrations/sqls/20220120193943-add-service-comikey-down.sql
  migrations/sqls/20220120193943-add-service-comikey-up.sql
  src/scrapers/__init__.py
  src/scrapers/base_rss.py
  src/scrapers/comikey.py
  src/tests/scrapers/comikey/feed.xml
  src/tests/scrapers/comikey/manga_feed.xml
  src/tests/scrapers/comikey/test_comikey.py
  src/tests/testing_utils.py
  src/utils/dbutils.py
Due: scraper

Bugfixes
  web/server.js
  web/src/utils/theme.js
Due: frontend

update dependencies
  package-lock.json
  package.json
Due: none

update dependencies
  web/package-lock.json
  web/package.json
Due: frontend

dependabot config
  .github/dependabot.yml
Due: none

helmet fix
  web/server.js
Due: frontend

Allow setting custom timeout for search throttling
  web/__tests__/components/MangaSearch.test.jsx
  web/src/components/MangaSearch.jsx
Due: frontend

update codecov file argument
  .github/workflows/pythonapp.yml
Due: none

update codecov file argument
  .github/workflows/pythonapp.yml
  web/package-lock.json
Due: frontend

Skip comikey chapters not in english
  src/scrapers/base_rss.py
  src/scrapers/comikey.py
  src/tests/scrapers/comikey/feed.xml
  src/tests/scrapers/comikey/test_comikey.py
Due: scraper

Update packages
  web/package-lock.json
Due: frontend
