Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

ComiXology scraper reworked
  src/db/mappers/chapter_mapper.py
  src/db/models/manga.py
  src/scrapers/base_rss.py
  src/scrapers/base_scraper.py
  src/scrapers/comixology.py
  src/scrapers/mangadex.py
  src/tests/conftest.py
  src/tests/scrapers/comixology/chapters.pickle
  src/tests/scrapers/comixology/page1.html
  src/tests/scrapers/comixology/page2.html
  src/tests/scrapers/comixology/test_chapter.html
  src/tests/scrapers/comixology/test_comixology.py
  src/tests/testing_utils.py
  src/tests/utils/test_dbutil.py
  src/utils/dbutils.py
Due: scraper

Series scraping for comixology.
  src/db/models/manga.py
  src/scrapers/comixology.py
  src/scrapers/mangadex.py
  src/tests/scrapers/comixology/manga_page1.html
  src/tests/scrapers/comixology/manga_page2.html
  src/tests/scrapers/comixology/page1.html
  src/tests/scrapers/comixology/page2.html
  src/tests/scrapers/comixology/test_comixology.py
  src/utils/dbutils.py
Due: scraper

update dependencies
  web/package-lock.json
  web/package.json
Due: frontend

Try to fix dependencies
  web/package-lock.json
  web/package.json
Due: frontend

Try to fix github actions
  .github/workflows/jest.yml
Due: none

update mangadex logging
  web/db/mangadex.js
Due: frontend

pino-pretty as dep instead of devDep
  web/package.json
Due: frontend

Hotfix for manga admin page
  web/src/views/admin/MangaAdmin.jsx
Due: frontend

Fix tests for manga admin
  web/__tests__/views/admin/MangaAdmin.test.jsx
  web/__tests__/views/admin/__snapshots__/MangaAdmin.test.jsx.snap
  web/src/views/admin/MangaAdmin.jsx
Due: frontend

Possible workaround for singleton db
  web/db/index.js
Due: frontend

Fix comixology updates
  src/scrapers/comixology.py
Due: scraper

Fix import order
  web/__tests__/views/admin/MangaAdmin.test.jsx
Due: frontend

update snapshot
  web/__tests__/views/admin/__snapshots__/MangaAdmin.test.jsx.snap
Due: frontend

service specific merge manga
  migrations/20210503152822-updateMergeManga-serviceParam.js
  migrations/sqls/20210503152822-updateMergeManga-serviceParam-down.sql
  migrations/sqls/20210503152822-updateMergeManga-serviceParam-up.sql
  src/db/models/chapter.py
  src/db/models/manga.py
  src/tests/db/test_database_functions.py
  src/tests/scrapers/comixology/test_comixology.py
  src/tests/scrapers/mangadex/test_mangadex.py
  src/tests/testing_utils.py
  src/tests/utils/test_dbutil.py
  src/utils/dbutils.py
Due: scraper

Mangadex migration script
  run_specific.py
  scripts/migrate_mangadex.py
Due: none

Fix merge manga and misc improvements
  web/__tests__/components/PartialManga.test.jsx
  web/__tests__/components/__snapshots__/Manga.test.jsx.snap
  web/__tests__/components/__snapshots__/MangaInfo.test.jsx.snap
  web/__tests__/components/__snapshots__/MangaSearch.test.jsx.snap
  web/__tests__/components/__snapshots__/MangaSourceList.test.jsx.snap
  web/__tests__/components/__snapshots__/PartialManga.test.jsx.snap
  web/__tests__/components/__snapshots__/Root.test.jsx.snap
  web/__tests__/constants.js
  web/__tests__/db/mangadex.test.js
  web/__tests__/views/MergeManga.test.jsx
  web/__tests__/views/admin/__snapshots__/MangaAdmin.test.jsx.snap
  web/api/manga.js
  web/api/user.js
  web/db/auth.js
  web/db/mangadex.js
  web/package-lock.json
  web/package.json
  web/server.js
  web/src/components/MangaInfo.jsx
  web/src/components/MangaSearch.jsx
  web/src/components/MangaSourceList.jsx
  web/src/components/PartialManga.jsx
  web/src/components/Root.jsx
  web/src/views/MergeManga.jsx
Due: frontend

Fix csrf token not being set
  web/src/pages/_app.js
Due: frontend

Switch to redoc
  web/package-lock.json
  web/package.json
  web/src/pages/swagger.jsx
Due: frontend

Fix mangadex tests and delete useless snapshot
  web/__tests__/db/mangadex.test.js
  web/__tests__/views/__snapshots__/MergeManga.test.jsx.snap
Due: frontend

ignore test html files for github statistics
  .gitattributes
Due: none

Rate limited scheduled runs. Add services through database migrations by default instead of BaseScraper.add_service
  add_missing_services.py
  migrations/20200725150355-createServices.js
  migrations/20210511092305-add_service_config.js
  migrations/sqls/20200725150355-createServices-up.sql
  migrations/sqls/20210511092305-add_service_config-down.sql
  migrations/sqls/20210511092305-add_service_config-up.sql
  migrations/test/sqls/20200807181921-initTestData-up.sql
  scripts/deploy_scrapers.sh
  src/db/models/scheduled_run.py
  src/db/models/services.py
  src/scheduler.py
  src/scrapers/__init__.py
  src/scrapers/base_rss.py
  src/scrapers/base_scraper.py
  src/scrapers/comixology.py
  src/scrapers/mangadex.py
  src/scrapers/mangaplus/mangaplus.py
  src/tests/conftest.py
  src/tests/scrapers/comixology/test_comixology.py
  src/tests/scrapers/kireicake/test_kireicake.py
  src/tests/scrapers/mangadex/test_mangadex.py
  src/tests/scrapers/mangaplus/test_mangaplus.py
  src/tests/scrapers/reddit/test_reddit.py
  src/tests/scrapers/testing_scraper.py
  src/tests/test_scheduler.py
  src/tests/testing_utils.py
  src/utils/dbutils.py
  src/utils/utilities.py
Due: scraper

Support filtered scheduled runs in manga admin view
  web/__tests__/views/admin/MangaAdmin.test.jsx
  web/__tests__/views/admin/__snapshots__/MangaAdmin.test.jsx.snap
  web/db/services.js
  web/src/components/MaterialTable/MaterialTable.jsx
  web/src/components/MaterialTable/TableToolbar.jsx
  web/src/pages/admin/manga/[manga_id].jsx
  web/src/views/admin/MangaAdmin.jsx
Due: frontend

Fix csrf token missing in services view
  web/src/views/admin/Services.jsx
Due: frontend

Update snapshots
  web/__tests__/components/__snapshots__/MaterialTable.test.jsx.snap
  web/__tests__/views/admin/__snapshots__/Services.test.jsx.snap
  web/src/views/admin/Services.jsx
Due: frontend

Implement foolslide scraper
  .coveragerc
  migrations/20210514141855-update-KireiCake.js
  migrations/sqls/20210514141855-update-KireiCake-down.sql
  migrations/sqls/20210514141855-update-KireiCake-up.sql
  run.py
  src/scrapers/base_rss.py
  src/scrapers/base_scraper.py
  src/scrapers/foolslide.py
  src/scrapers/kireicake.py
  src/tests/scrapers/kireicake/feed.html
  src/tests/scrapers/kireicake/feed.xml
  src/tests/scrapers/kireicake/test_kireicake.py
  src/tests/testing_utils.py
Due: scraper

Fix mypy errors
  src/scrapers/base_scraper.py
  src/scrapers/foolslide.py
Due: scraper

Move frontend api stuff into their own files
  web/__tests__/utils.jsx
  web/__tests__/views/MergeManga.test.jsx
  web/__tests__/views/Profile.test.jsx
  web/__tests__/views/SignIn.test.jsx
  web/__tests__/views/__snapshots__/Profile.test.jsx.snap
  web/__tests__/views/__snapshots__/SignIn.test.jsx.snap
  web/api/user.js
  web/src/api/admin/manga.js
  web/src/api/admin/service.js
  web/src/api/chapter.js
  web/src/api/manga.js
  web/src/api/user.js
  web/src/api/utilities.js
  web/src/components/ChapterList.jsx
  web/src/components/Manga.jsx
  web/src/components/MangaAliases.jsx
  web/src/components/MangaSearch.jsx
  web/src/components/TopBar.jsx
  web/src/utils/csrf.jsx
  web/src/utils/utilities.jsx
  web/src/views/MergeManga.jsx
  web/src/views/Profile.jsx
  web/src/views/SignIn.jsx
  web/src/views/admin/MangaAdmin.jsx
  web/src/views/admin/Services.jsx
Due: frontend

editService endpoint: each table has it's own object in the object body
  web/__tests__/api/admin/__snapshots__/services.test.js.snap
  web/__tests__/api/admin/services.test.js
  web/__tests__/db/services/serviceInfo.test.js
  web/__tests__/utils.jsx
  web/__tests__/views/admin/Services.test.jsx
  web/api/admin/services.js
  web/db/services.js
  web/db/services/index.js
  web/db/services/serviceInfo.js
  web/package-lock.json
  web/package.json
  web/setupTests.js
  web/src/api/admin/service.js
  web/src/views/admin/Services.jsx
  web/utils/validators.js
Due: frontend

Fix eslint warnings and add jest plugin
  web/.eslintrc.json
  web/__tests__/api/__snapshots__/manga.test.js.snap
  web/__tests__/api/manga.test.js
  web/__tests__/db/session-store.test.js
  web/__tests__/utils.jsx
  web/package-lock.json
  web/package.json
  web/src/components/ChapterList.jsx
  web/src/components/MangaSearch.jsx
  web/src/components/MaterialTable/TableToolbar.jsx
  web/src/views/Profile.jsx
  web/src/views/SignIn.jsx
  web/src/views/admin/MangaAdmin.jsx
Due: frontend

Try fix
  .github/workflows/jest.yml
  web/__tests__/db/session-store.test.js
  web/__tests__/stopServer.js
  web/db/session-store.js
  web/server.js
  web/utils/constants.js
Due: frontend

GET /api/manga/:mangaId/chapters openapi docs
  web/__tests__/api/manga.test.js
  web/__tests__/api/user.test.js
  web/api/manga.js
  web/db/chapter.js
  web/swagger/components.yaml
  web/swagger/index.js
Due: frontend

Service test fix
  web/__tests__/api/admin/services.test.js
  web/src/components/MaterialTable/MaterialTable.jsx
Due: frontend

Update jest
  web/jest.config.js
  web/package-lock.json
  web/package.json
Due: frontend

Add license to footer and modify root component tests to not use snapshots
  web/__tests__/components/Root.test.jsx
  web/__tests__/components/__snapshots__/Root.test.jsx.snap
  web/src/components/Root.jsx
Due: frontend

Actually sortable chapters. Remove chapter fetching from getFullManga
  web/__tests__/api/__snapshots__/manga.test.js.snap
  web/__tests__/api/manga.test.js
  web/__tests__/components/ChapterList.test.jsx
  web/__tests__/components/__snapshots__/ChapterList.test.jsx.snap
  web/__tests__/components/__snapshots__/Manga.test.jsx.snap
  web/__tests__/components/__snapshots__/MaterialTable.test.jsx.snap
  web/__tests__/views/admin/__snapshots__/Services.test.jsx.snap
  web/api/manga.js
  web/db/chapter.js
  web/db/manga.js
  web/src/api/chapter.js
  web/src/components/ChapterList.jsx
  web/src/components/Manga.jsx
  web/src/components/MaterialTable/MaterialTable.jsx
  web/src/pages/manga/[mangaId].js
  web/swagger/components.yaml
  web/swagger/index.js
  web/utils/utilities.js
Due: frontend

Fix chapter tests
  web/__tests__/api/manga.test.js
Due: frontend

Switch license to AGPLv3 to prevent modified closed source redistribution of future versions
  LICENSE
  web/package.json
Due: frontend

Path conditions:
  scraper: any of: src/
  frontend: any of: web/
