Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  scraper:
    paths:
      - src/
  frontend:
    paths:
      - web/

Fix stuff
  .github/workflows/tests.yml
Due: none

pnpm to e2e tests
  .github/workflows/tests.yml
Due: none

remove accidentally committed describe.only
  .github/workflows/tests.yml
  web/cypress/e2e/auth.cy.ts
Due: frontend

Logging changes
  web/db/index.ts
  web/utils/logging.js
Due: frontend

Delete account test
  web/cypress.config.ts
  web/cypress/constants.ts
  web/cypress/e2e/auth.cy.ts
  web/cypress/support/commands.ts
  web/cypress/tsconfig.json
  web/cypress/types.ts
  web/package.json
  web/types/modules.d.ts
Due: frontend

Update cypress container name
  .github/workflows/tests.yml
Due: none

Fix auth test
  web/cypress/support/commands.ts
Due: frontend

Initial bundle size reduction and bugfixes
  web/__tests__/utils/withError.test.tsx
  web/__tests__/views/NotFound.test.jsx
  web/server.ts
  web/setupTests.ts
  web/src/components/DefaultLocalizationProvider.tsx
  web/src/components/EditableMangaInfo.tsx
  web/src/components/MangaInfo.tsx
  web/src/components/MangaSourceList.jsx
  web/src/components/MaterialTable/MaterialTable.tsx
  web/src/components/Root.jsx
  web/src/components/TopBar.jsx
  web/src/components/TopBar/LinkComponent.tsx
  web/src/components/TopBar/TopBar.tsx
  web/src/components/TopBar/UserMenu.tsx
  web/src/components/TopBar/index.ts
  web/src/pages/_app.jsx
  web/src/pages/_document.tsx
  web/src/pages/admin/manga/[mangaId].tsx
  web/src/pages/admin/services.jsx
  web/src/views/NotFound.jsx
Due: frontend

Add simple theming tests
  web/cypress.config.ts
  web/cypress/e2e/theming.cy.ts
  web/cypress/support/commands.ts
Due: frontend

Add express-serve-static-core to deps
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

Migrate to pnpm
  .github/dependabot.yml
  .github/workflows/tests.yml
  Procfile
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/postinstall.js
  src/tests/testing_utils.py
  web/package-lock.json
  web/package.json
  web/pnpm-lock.yaml
Due: scraper, frontend

Build fixes
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/MaterialTable/types.d.ts
  web/src/pages/_app.jsx
Due: frontend

Delete user endpoint
  database.sql
  migrations/20230305082633-user-deletion.js
  migrations/sqls/20230304085407-modify-theme-down.sql
  migrations/sqls/20230305082633-user-deletion-down.sql
  migrations/sqls/20230305082633-user-deletion-up.sql
  migrations/test/sqls/20200807181921-initTestData-down.sql
  web/__tests__/api/user.test.ts
  web/__tests__/utils.tsx
  web/api/user.ts
  web/db/postgres-adapter.ts
  web/setupTests.ts
  web/src/api/user.js
  web/src/api/user.ts
  web/src/components/DefaultLocalizationProvider.tsx
  web/src/components/TopBar/UserMenu.tsx
  web/src/components/notifications/DiscordWebhookEditor.tsx
  web/src/pages/_document.tsx
  web/src/pages/api/auth/[...nextauth].ts
  web/src/pages/profile.jsx
  web/src/views/Profile.jsx
  web/types/global.d.ts
Due: frontend

Cypress tests
  .github/workflows/tests.yml
  web/.eslintrc.cjs
  web/__tests__/api/user.test.ts
  web/__tests__/api/utilities.ts
  web/__tests__/constants.ts
  web/__tests__/stopServer.js
  web/__tests__/tsconfig.json
  web/__tests__/utils.tsx
  web/api/admin/services.js
  web/api/chapter.js
  web/api/index.js
  web/api/manga.js
  web/api/search.js
  web/cypress.config.ts
  web/cypress/e2e/auth.cy.ts
  web/cypress/support/commands.ts
  web/cypress/support/e2e.ts
  web/cypress/tsconfig.json
  web/db/mangadex.js
  web/package-lock.json
  web/package.json
  web/server.ts
  web/src/pages/login.tsx
  web/src/views/SignIn.tsx
  web/tsconfig.json
  web/tsconfig.server.json
  web/tsconfig.test.json
  web/utils/ratelimits.ts
  web/utils/utilities.ts
Due: frontend

Privacy policy, Terms and data export
  migrations/test/sqls/20200807181921-initTestData-up.sql
  web/__tests__/api/user.test.ts
  web/__tests__/components/Root.test.tsx
  web/__tests__/db/postgres-adapter.test.ts
  web/__tests__/pages/privacy_policy.test.tsx
  web/__tests__/pages/terms.test.tsx
  web/api/user.ts
  web/db/postgres-adapter.ts
  web/src/components/Root.jsx
  web/src/components/Root.tsx
  web/src/components/utils/CSRFInput.tsx
  web/src/pages/_app.jsx
  web/src/pages/api/auth/[...nextauth].ts
  web/src/pages/manga/[mangaId].jsx
  web/src/pages/privacy_policy.tsx
  web/src/pages/terms.tsx
  web/src/utils/useUser.tsx
  web/src/views/Profile.jsx
  web/src/views/SignIn.module.css
  web/src/views/SignIn.tsx
  web/types/dbTypes.ts
  web/utils/ratelimits.ts
Due: frontend

Fixes
  .github/workflows/tests.yml
Due: none

Fixes
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

Update dependencies
  web/package-lock.json
  web/package.json
  web/src/components/MaterialTable/EditableDateTimePicker.tsx
Due: frontend

Fix CMD and copy procfile
  Dockerfile
Due: none

Add missing migrations-config.json
  Dockerfile
Due: none

Modify migrations folder copy
  Dockerfile
Due: none

Fix deploy command name
  Dockerfile
  Procfile
Due: none

Fix deploy command name
  package.json
Due: none

Treat weird chapter numbers as 0 chapters with mangaplus
  src/scrapers/mangaplus/mangaplus.py
  src/tests/scrapers/mangaplus/test_mangaplus.py
Due: scraper

Fix award chapters not being set as completed
  src/scrapers/mangaplus/mangaplus.py
  src/tests/scrapers/mangaplus/test_mangaplus.py
  src/tests/scrapers/mangaplus/title_detailV2-award.dat
Due: scraper

fix mypy error
  src/tests/scrapers/mangaplus/test_mangaplus.py
Due: scraper

Switch to poetry+pyproject.toml from pip+requirements.txt
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
  scripts/deploy_scrapers.sh
Due: none

delete unused files
  requirements.txt
  scraper-pm2.example.json
Due: none

Disabled swc coverage as it is currently broken
  web/next.config.js
Due: frontend

Update dependencies and node version
  .github/workflows/tests.yml
  Dockerfile
  package.json
  pnpm-lock.yaml
  web/__tests__/api/auth.test.js
  web/__tests__/db/session-store.test.js
  web/package.json
  web/pnpm-lock.yaml
  web/server/db/postgres-adapter.ts
  web/src/components/MaterialTable/useEditable.tsx
Due: frontend

downgrade jest extended as it messes with vitest types
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

Ignore extra kwargs in base_rss chapter and rename chapter to chapter_number in match_title
  src/scrapers/base_rss.py
  src/scrapers/reddit.py
  src/tests/utilities/test_utilities.py
  src/utils/utilities.py
Due: scraper
