Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

Db error test template and more tests
  web/__tests__/api/chapter.test.ts
  web/__tests__/api/manga.test.ts
  web/__tests__/api/utilities.ts
  web/__tests__/constants.js
  web/__tests__/db/services/index.test.ts
  web/__tests__/initServer.ts
  web/__tests__/utils.tsx
  web/__tests__/views/App.test.tsx
  web/api/manga.js
  web/db/chapter.ts
  web/types/utility.ts
Due: frontend

Fix base url for openapi config
  web/setupTests.ts
  web/swagger/index.js
Due: frontend

App.tsx tests
  web/.eslintrc.cjs
  web/__tests__/schemas.ts
  web/__tests__/views/App.test.tsx
  web/types/api/chapter.ts
Due: frontend

ignore test related files in tsconfig
  web/tsconfig.json
  web/tsconfig.server.json
Due: frontend

Fix notifications test
  web/__tests__/views/Notifications.test.jsx
Due: frontend

Fix creating discord webhook notifications
  web/.eslintrc.cjs
  web/__tests__/views/Notifications.test.tsx
  web/src/components/notifications/defaultDatas.ts
  web/tsconfig.test.json
Due: frontend

Update deps
  web/__tests__/api/__snapshots__/manga.test.ts.snap
  web/__tests__/api/admin/__snapshots__/services.test.js.snap
  web/package-lock.json
  web/package.json
Due: frontend

Use css variables for material ui theming
  migrations/20230304085407-modify-theme.js
  migrations/sqls/20230304085407-modify-theme-down.sql
  migrations/sqls/20230304085407-modify-theme-up.sql
  migrations/test/sqls/20200807181921-initTestData-down.sql
  migrations/test/sqls/20200807181921-initTestData-up.sql
  web/__tests__/api/settings.test.ts
  web/__tests__/components/Root.test.jsx
  web/__tests__/components/notifications/DiscordWebhookEditor.test.tsx
  web/__tests__/db/session-store.test.js
  web/__tests__/utils.tsx
  web/api/settings.ts
  web/db/auth.ts
  web/db/session-store.ts
  web/setupTests.ts
  web/src/components/Root.jsx
  web/src/components/TopBar.jsx
  web/src/pages/_app.jsx
  web/src/pages/_document.tsx
  web/src/pages/api/auth/[...nextauth].ts
  web/src/utils/theme.ts
  web/types/db/user.ts
  web/types/dbTypes.ts
Due: frontend

Initial bundle size reduction and bugfixes
  web/__tests__/utils/withError.test.tsx
  web/__tests__/views/NotFound.test.jsx
  web/server.ts
  web/setupTests.ts
  web/src/components/DefaultLocalizationProvider.tsx
  web/src/components/EditableMangaInfo.tsx
  web/src/components/MangaInfo.tsx
  web/src/components/MangaSourceList.jsx
  web/src/components/MaterialTable/MaterialTable.tsx
  web/src/components/Root.jsx
  web/src/components/TopBar.jsx
  web/src/components/TopBar/LinkComponent.tsx
  web/src/components/TopBar/TopBar.tsx
  web/src/components/TopBar/UserMenu.tsx
  web/src/components/TopBar/index.ts
  web/src/pages/_app.jsx
  web/src/pages/_document.tsx
  web/src/pages/admin/manga/[mangaId].tsx
  web/src/pages/admin/services.jsx
  web/src/views/NotFound.jsx
Due: frontend

Delete user endpoint
  database.sql
  migrations/20230305082633-user-deletion.js
  migrations/sqls/20230304085407-modify-theme-down.sql
  migrations/sqls/20230305082633-user-deletion-down.sql
  migrations/sqls/20230305082633-user-deletion-up.sql
  migrations/test/sqls/20200807181921-initTestData-down.sql
  web/__tests__/api/user.test.ts
  web/__tests__/utils.tsx
  web/api/user.ts
  web/db/postgres-adapter.ts
  web/setupTests.ts
  web/src/api/user.js
  web/src/api/user.ts
  web/src/components/DefaultLocalizationProvider.tsx
  web/src/components/TopBar/UserMenu.tsx
  web/src/components/notifications/DiscordWebhookEditor.tsx
  web/src/pages/_document.tsx
  web/src/pages/api/auth/[...nextauth].ts
  web/src/pages/profile.jsx
  web/src/views/Profile.jsx
  web/types/global.d.ts
Due: frontend

Third party notices page
  web/__tests__/pages/third_party_notices.test.tsx
  web/src/components/Root.jsx
  web/src/pages/third_party_notices.tsx
  web/types/global.d.ts
Due: frontend

Privacy policy, Terms and data export
  migrations/test/sqls/20200807181921-initTestData-up.sql
  web/__tests__/api/user.test.ts
  web/__tests__/components/Root.test.tsx
  web/__tests__/db/postgres-adapter.test.ts
  web/__tests__/pages/privacy_policy.test.tsx
  web/__tests__/pages/terms.test.tsx
  web/api/user.ts
  web/db/postgres-adapter.ts
  web/src/components/Root.jsx
  web/src/components/Root.tsx
  web/src/components/utils/CSRFInput.tsx
  web/src/pages/_app.jsx
  web/src/pages/api/auth/[...nextauth].ts
  web/src/pages/manga/[mangaId].jsx
  web/src/pages/privacy_policy.tsx
  web/src/pages/terms.tsx
  web/src/utils/useUser.tsx
  web/src/views/Profile.jsx
  web/src/views/SignIn.module.css
  web/src/views/SignIn.tsx
  web/types/dbTypes.ts
  web/utils/ratelimits.ts
Due: frontend

Add skeletons to GroupedChapterList while it's loading
  web/src/components/GroupedChapterList.jsx
  web/src/views/App.jsx
Due: frontend

Front page now shows latest chapters from follows for logged in users
  web/__tests__/api/chapter.test.ts
  web/__tests__/schemas.ts
  web/__tests__/views/App.test.tsx
  web/api/chapter.js
  web/common/utilities.ts
  web/db/chapter.ts
  web/src/api/chapter.ts
  web/src/components/GroupedChapterList.tsx
  web/src/views/App.tsx
  web/src/views/SignIn.tsx
  web/types/api/chapter.ts
  web/utils/validators.ts
Due: frontend

Logging changes
  web/db/index.ts
  web/utils/logging.js
Due: frontend

Update dependencies
  web/package-lock.json
  web/package.json
  web/src/components/MaterialTable/EditableDateTimePicker.tsx
Due: frontend

Cypress tests
  .github/workflows/tests.yml
  web/.eslintrc.cjs
  web/__tests__/api/user.test.ts
  web/__tests__/api/utilities.ts
  web/__tests__/constants.ts
  web/__tests__/stopServer.js
  web/__tests__/tsconfig.json
  web/__tests__/utils.tsx
  web/api/admin/services.js
  web/api/chapter.js
  web/api/index.js
  web/api/manga.js
  web/api/search.js
  web/cypress.config.ts
  web/cypress/e2e/auth.cy.ts
  web/cypress/support/commands.ts
  web/cypress/support/e2e.ts
  web/cypress/tsconfig.json
  web/db/mangadex.js
  web/package-lock.json
  web/package.json
  web/server.ts
  web/src/pages/login.tsx
  web/src/views/SignIn.tsx
  web/tsconfig.json
  web/tsconfig.server.json
  web/tsconfig.test.json
  web/utils/ratelimits.ts
  web/utils/utilities.ts
Due: frontend

Migrate to pnpm
  .github/dependabot.yml
  .github/workflows/tests.yml
  Procfile
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/postinstall.js
  src/tests/testing_utils.py
  web/package-lock.json
  web/package.json
  web/pnpm-lock.yaml
Due: scraper, frontend

update dependabot.yml
  .github/dependabot.yml
Due: none

Update cypress container name
  .github/workflows/tests.yml
Due: none

install pnpm
  .github/workflows/tests.yml
Due: none

Install pnpm and update cypress docker images
  .github/workflows/tests.yml
Due: none

pnpm to e2e tests
  .github/workflows/tests.yml
Due: none

Fix stuff
  .github/workflows/tests.yml
Due: none

Fix typo
  .github/workflows/tests.yml
Due: none

Build fixes
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/MaterialTable/types.d.ts
  web/src/pages/_app.jsx
Due: frontend

Set working directory for cypress
  .github/workflows/tests.yml
Due: none

Add express-serve-static-core to deps
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

Fix react files being bundled with server
  web/common/utilities.ts
  web/package.json
  web/pnpm-lock.yaml
  web/src/components/GroupedChapterList.tsx
  web/src/utils/utilities.tsx
Due: frontend

exclude setup tests
  web/tsconfig.json
Due: frontend

Fixes
  web/__tests__/schemas.ts
  web/src/components/Manga.tsx
  web/src/components/MaterialTable/custom-types.d.ts
  web/src/components/MaterialTable/types.ts
Due: frontend

Fixes
  web/package.json
  web/pnpm-lock.yaml
Due: frontend

Path conditions:
  scraper: any of: src/
  frontend: any of: web/
