Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  scraper:
    paths:
      - src/
  frontend:
    paths:
      - web/

Add not null constraint to release date of chapter
  migrations/20210216151728-release-date-not-null.js
  migrations/sqls/20210216151728-release-date-not-null-down.sql
  migrations/sqls/20210216151728-release-date-not-null-up.sql
Due: none

Fix addChapter
  package.json
  web/db/chapter.js
Due: frontend

view counter tests
  web/__tests__/utils/view-counter/manga-view-counter.test.js
  web/utils/view-counter/manga-view-counter.js
Due: frontend

Basic profile view tests
  web/__tests__/views/Profile.test.jsx
Due: frontend

db tests and ability to reset test database when NODE_ENV is test
  migrations/test/20200807181921-initTestData.js
  migrations/test/sqls/20200807181921-initTestData-down.sql
  migrations/test/sqls/20200807181921-initTestData-up.sql
  package.json
  web/__tests__/db/db.test.js
Due: frontend

Skip invalid chapters and sort them before processing
  src/scrapers/comixology.py
Due: scraper

Test removing codecov script
  .github/workflows/jest.yml
  .github/workflows/pythonapp.yml
Due: none

Revert: Test removing codecov script
  .github/workflows/jest.yml
  .github/workflows/pythonapp.yml
Due: none

Update packages and upgrade to mangadex api v2
  web/db/mangadex.js
  web/package-lock.json
  web/package.json
Due: frontend

Fix count being a string
  web/src/components/ChapterList.jsx
Due: frontend

session store, manga and service info tests
  migrations/test/sqls/20200807181921-initTestData-up.sql
  package.json
  web/.babelrc
  web/__tests__/db/manga.test.js
  web/__tests__/db/services/serviceInfo.test.js
  web/__tests__/db/session-store.test.js
  web/__tests__/utils.jsx
  web/db/session-store.js
  web/package-lock.json
  web/package.json
Due: frontend

Fix clearOldSessions test
  web/__tests__/db/session-store.test.js
Due: frontend

Simple mangadex tests
  web/__tests__/db/mangadex.json
  web/__tests__/db/mangadex.test.js
  web/db/mangadex.js
Due: frontend

Base RSS scarper and KireiCake implementation using that
  src/db/mappers/chapter_mapper.py
  src/db/models/chapter.py
  src/scrapers/__init__.py
  src/scrapers/base_rss.py
  src/scrapers/base_scraper.py
  src/scrapers/kireicake.py
  src/tests/scrapers/kireicake/feed.xml
  src/tests/scrapers/kireicake/test_kireicake.py
  src/utils/dbutils.py
  src/utils/utilities.py
Due: scraper

Update packages and ignore flake8 false positive error
  src/utils/dbutils.py
  web/package-lock.json
  web/package.json
Due: scraper, frontend

Fix undefined variable error
  src/utils/dbutils.py
  src/utils/utilities.py
Due: scraper

Fix undefined variable error
  src/utils/utilities.py
Due: scraper

Fix undefined variable error
  src/utils/utilities.py
  web/public/robots.txt
Due: scraper, frontend

Fix undefined variable error
  .github/workflows/pythonapp.yml
Due: none

Test parse error case
  src/scrapers/base_rss.py
  src/tests/scrapers/kireicake/test_kireicake.py
Due: scraper

Use autocomplete instead of own component for search
  web/__tests__/components/MangaSearch.test.jsx
  web/__tests__/components/__snapshots__/MangaSearch.test.jsx.snap
  web/__tests__/components/__snapshots__/Root.test.jsx.snap
  web/__tests__/views/__snapshots__/MergeManga.test.jsx.snap
  web/package-lock.json
  web/package.json
  web/src/components/MangaSearch.jsx
  web/src/components/TopBar.jsx
  web/src/views/MergeManga.jsx
Due: frontend

Add default id and update failed snapshots
  web/__tests__/components/__snapshots__/MangaSearch.test.jsx.snap
  web/__tests__/components/__snapshots__/Root.test.jsx.snap
  web/__tests__/views/__snapshots__/MergeManga.test.jsx.snap
  web/src/components/MangaSearch.jsx
Due: frontend

Simple progress bar tests
  web/__tests__/components/utils/ProgressBar.test.jsx
Due: frontend

Simple manga model tests and bugfixes
  src/db/models/manga.py
  src/scrapers/__init__.py
  src/tests/db/models/test_manga.py
Due: scraper

More dbutils tests and service models
  .coveragerc
  src/db/models/services.py
  src/scrapers/comixology.py
  src/tests/testing_utils.py
  src/tests/utils/test_dbutil.py
  src/utils/dbutils.py
Due: scraper

add_new_manga tests
  src/tests/utils/test_dbutil.py
  src/utils/dbutils.py
Due: scraper

utility tests. Remove unused functions. Improve test performance by creating a db instance only when required by the tests.
  src/scrapers/jaiminisbox.py
  src/tests/conftest.py
  src/tests/utilities/test_utilities.py
  src/tests/utils/test_dbutil.py
  src/utils/feedparsing.py
Due: scraper

Mangadex scrape series tests
  src/db/models/chapter.py
  src/db/models/manga.py
  src/tests/db/models/test_manga.py
  src/tests/scrapers/mangadex/api_data.json
  src/tests/scrapers/mangadex/test_mangadex.py
  src/utils/dbutils.py
Due: scraper

change mangadex api url
  src/scrapers/mangadex.py
Due: scraper

Fix base rss set_checked
  src/scrapers/base_rss.py
Due: scraper

Update dependencies
  web/package-lock.json
  web/package.json
Due: frontend

React 17 and webpack5
  web/__tests__/components/__snapshots__/ChapterList.test.jsx.snap
  web/__tests__/components/__snapshots__/Root.test.jsx.snap
  web/next.config.js
  web/package-lock.json
  web/package.json
  web/setupTests.js
Due: frontend

Kireicake fix
  src/scrapers/kireicake.py
  src/tests/scrapers/kireicake/feed.xml
  src/tests/scrapers/kireicake/test_kireicake.py
Due: scraper

csurf and bugfixes
  web/__mocks__/csrf.js
  web/__tests__/api/admin/manga.test.js
  web/__tests__/api/admin/services.test.js
  web/__tests__/api/auth.test.js
  web/__tests__/api/chapter.test.js
  web/__tests__/api/manga.test.js
  web/__tests__/api/settings.test.js
  web/__tests__/api/user.test.js
  web/__tests__/constants.js
  web/__tests__/requestUtils.js
  web/__tests__/utils.jsx
  web/api/admin/services.js
  web/api/chapter.js
  web/api/user.js
  web/db/auth.js
  web/package-lock.json
  web/package.json
  web/server.js
  web/setupTests.js
  web/src/components/ChapterList.jsx
  web/src/components/Follows.jsx
  web/src/components/Manga.jsx
  web/src/components/MangaAliases.jsx
  web/src/components/MangaSearch.jsx
  web/src/components/TopBar.jsx
  web/src/components/utils/CSRFInput.jsx
  web/src/pages/_app.js
  web/src/utils/csrf.jsx
  web/src/utils/utilities.jsx
  web/src/views/MergeManga.jsx
  web/src/views/Profile.jsx
  web/src/views/SignIn.jsx
  web/src/views/admin/MangaAdmin.jsx
  web/src/views/admin/Services.jsx
  web/utils/constants.js
Due: frontend

Migrate from pg to pg-promise
  web/__tests__/api/chapter.test.js
  web/__tests__/api/user.test.js
  web/__tests__/db/db.test.js
  web/__tests__/db/manga.test.js
  web/__tests__/db/mangadex.test.js
  web/__tests__/db/services/serviceInfo.test.js
  web/__tests__/db/session-store.test.js
  web/__tests__/dbutils.js
  web/__tests__/stopServer.js
  web/__tests__/utils/view-counter/manga-view-counter.test.js
  web/api/admin/manga.js
  web/api/admin/services.js
  web/api/chapter.js
  web/api/manga.js
  web/api/rss.js
  web/api/user.js
  web/db/admin/management.js
  web/db/admin/manga.js
  web/db/auth.js
  web/db/chapter.js
  web/db/db.js
  web/db/errors.js
  web/db/follows.js
  web/db/index.js
  web/db/manga.js
  web/db/mangadex.js
  web/db/services.js
  web/db/session-store.js
  web/db/utils.js
  web/package-lock.json
  web/package.json
  web/server.js
  web/src/pages/manga/[manga_id].js
  web/src/utils/csrf.jsx
  web/src/views/SignIn.jsx
  web/utils/utilities.js
Due: frontend

Pino logging
  package-lock.json
  web/api/admin/services.js
  web/api/chapter.js
  web/api/user.js
  web/db/admin/manga.js
  web/db/auth.js
  web/db/chapter.js
  web/db/mangadex.js
  web/db/session-store.js
  web/db/utils.js
  web/package-lock.json
  web/package.json
  web/server.js
  web/src/pages/_app.js
  web/src/pages/admin/services.js
  web/src/views/MergeManga.jsx
  web/utils/constants.js
  web/utils/logging.js
Due: frontend

Query logging, bugfixes and small improvements
  web/api/rss.js
  web/db/index.js
  web/db/session-store.js
  web/db/utils.js
  web/jest.config.js
  web/server.js
  web/utils/logging.js
Due: frontend

Update codecov badge
  README.md
Due: none

Begin OpenAPI integration. Documented GET /api/manga/:manga_id
  migrations/20210424194638-notNull-chapters.js
  migrations/sqls/20210424194638-notNull-chapters-down.sql
  migrations/sqls/20210424194638-notNull-chapters-up.sql
  web/__tests__/api/manga.test.js
  web/__tests__/components/Manga.test.jsx
  web/__tests__/components/PartialManga.test.jsx
  web/__tests__/components/__snapshots__/Manga.test.jsx.snap
  web/__tests__/constants.js
  web/__tests__/utils.jsx
  web/api/manga.js
  web/api/search.js
  web/db/manga.js
  web/jest.config.js
  web/next.config.js
  web/package-lock.json
  web/package.json
  web/setupTests.js
  web/src/components/Manga.jsx
  web/src/pages/_app.js
  web/src/pages/admin/manga/[manga_id].jsx
  web/src/pages/manga/[manga_id].js
  web/src/pages/swagger.jsx
  web/src/views/MergeManga.jsx
  web/src/views/admin/MangaAdmin.jsx
  web/swagger/components.yaml
  web/swagger/index.js
Due: frontend

Fix mypy issues, deprecated kodansha, switch to pydantic models, new tests.
  .coveragerc
  .github/workflows/pythonapp.yml
  maintenance.py
  mypy.ini
  requirements.txt
  runtime.txt
  src/db/mappers/chapter_mapper.py
  src/db/models/chapter.py
  src/db/models/manga.py
  src/db/models/scheduled_run.py
  src/db/models/services.py
  src/errors/errors.py
  src/scheduler.py
  src/scrapers/__init__.py
  src/scrapers/base_rss.py
  src/scrapers/base_scraper.py
  src/scrapers/comixology.py
  src/scrapers/jaiminisbox.py
  src/scrapers/kireicake.py
  src/scrapers/kodansha.py
  src/scrapers/mangadex.py
  src/scrapers/mangaplus/mangaplus.py
  src/scrapers/mangaplus/protobuf/mangaplus_pb2.pyi
  src/scrapers/reddit.py
  src/tests/conftest.py
  src/tests/db/models/test_manga.py
  src/tests/scrapers/comixology/test_comixology.py
  src/tests/scrapers/kireicake/test_kireicake.py
  src/tests/scrapers/kodansha/test_kodansha.py
  src/tests/scrapers/reddit/test_reddit.py
  src/tests/scrapers/testing_scraper.py
  src/tests/test_scheduler.py
  src/tests/testing_utils.py
  src/tests/utils/test_dbutil.py
  src/utils/dbutils.py
  src/utils/utilities.py
Due: scraper
