Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  scraper:
    paths:
      - src/
  frontend:
    paths:
      - web/

use helmet for secure headers
  web/package-lock.json
  web/package.json
  web/server.js
Due: frontend

Implement mangadex covers and Manga page bug fixes
  web/__tests__/db/mangadex.json
  web/__tests__/db/mangadex.test.js
  web/db/manga.js
  web/db/mangadex.js
  web/next.config.js
  web/package-lock.json
  web/package.json
  web/server.js
  web/src/components/Manga.jsx
  web/utils/ratelimits.js
Due: frontend

Fix tests
  migrations/test/sqls/20200807181921-initTestData-down.sql
  migrations/test/sqls/20200807181921-initTestData-up.sql
  web/__tests__/api/admin/manga.test.js
  web/__tests__/components/__snapshots__/Manga.test.jsx.snap
  web/__tests__/db/mangadex.test.js
  web/__tests__/dbutils.js
Due: frontend

Fix scheduled runs running for disabled services
  src/scheduler.py
  src/tests/test_scheduler.py
  src/utils/dbutils.py
Due: scraper

Hotfix for rss group name
  web/db/db.js
Due: frontend

mangadex cover hotfix
  src/scrapers/mangadex/mangadex.py
Due: scraper

Duplicate title ids hotfix
  migrations/20210613151016-add-manga-service-service-id-title-id-key.js
  migrations/sqls/20210613151016-add-manga-service-service-id-title-id-key-down.sql
  migrations/sqls/20210613151016-add-manga-service-service-id-title-id-key-up.sql
Due: none

Fix fetchExtraInfo not updating last_updated column
  web/db/mangadex.js
Due: frontend

more badges
  README.md
Due: none

Fix error when no entries given
  src/utils/dbutils.py
Due: scraper

Next.js 11
  web/next.config.js
  web/package-lock.json
  web/package.json
Due: frontend

Improvements to image display
  web/.eslintrc.json
  web/__tests__/components/Follows.test.jsx
  web/__tests__/components/PartialManga.test.jsx
  web/__tests__/components/__snapshots__/Follows.test.jsx.snap
  web/__tests__/components/__snapshots__/Manga.test.jsx.snap
  web/__tests__/constants.js
  web/__tests__/views/admin/MangaAdmin.test.jsx
  web/next.config.js
  web/package-lock.json
  web/src/components/Follows.jsx
  web/src/components/Manga.jsx
  web/src/components/MangaCover.jsx
  web/src/components/PartialManga.jsx
  web/src/pages/_app.js
  web/src/views/admin/MangaAdmin.jsx
  web/utils/theme.js
Due: frontend

ESLint fixes and small improvements
  web/__tests__/api/admin/manga.test.js
  web/__tests__/dbutils.js
  web/__tests__/utils/view-counter/manga-view-counter.test.js
  web/package-lock.json
  web/package.json
  web/src/components/Follows.jsx
  web/src/pages/_app.js
  web/src/pages/_document.js
  web/src/utils/theme.js
Due: frontend

Fix sql error
  src/scrapers/mangadex/mangadex.py
Due: scraper

Remove eslint requirement from build
  web/next.config.js
Due: frontend

chapter title nullable
  src/scrapers/mangadex/mangadex.py
  src/scrapers/mangadex/mangadex_api.py
Due: scraper

Check interval read from config
  migrations/20210707161003-update-check-intervals.js
  migrations/sqls/20210707161003-update-check-intervals-down.sql
  migrations/sqls/20210707161003-update-check-intervals-up.sql
  src/scrapers/base_rss.py
  src/scrapers/base_scraper.py
  src/scrapers/comixology.py
  src/scrapers/foolslide.py
  src/scrapers/jaiminisbox.py
  src/scrapers/kireicake.py
  src/scrapers/kodansha.py
  src/scrapers/mangadex/mangadex.py
  src/scrapers/mangaplus/mangaplus.py
  src/scrapers/reddit.py
  src/tests/scrapers/testing_scraper.py
Due: scraper

Mangadex error handling
  src/scrapers/mangadex/mangadex.py
  src/utils/dbutils.py
Due: scraper

Skip mangadex chapters that failed to parse
  src/scrapers/mangadex/mangadex.py
  src/scrapers/mangadex/mangadex_api.py
Due: scraper

Update requirements and mangaplus protobuf
  requirements.txt
  src/scrapers/mangaplus/protobuf/mangaplus_pb2.pyi
Due: scraper

SmallInt validation for chapter
  src/db/models/chapter.py
  src/scrapers/base_scraper.py
Due: scraper

Fix mypy error and add missing file
  src/db/types.py
  src/tests/utils/test_dbutil.py
Due: scraper

Fix parsing mangadex chapters that have no group assigned to them
  src/scrapers/mangadex/mangadex.py
  src/tests/scrapers/mangadex/api_data/chapters.json
  src/tests/scrapers/mangadex/test_mangadex.py
Due: scraper

Downgrade elasticsearch package
  web/package-lock.json
  web/package.json
Due: frontend

Fixed warnings and switched chapter column place in ChapterList
  web/__tests__/components/ChapterList.test.jsx
  web/__tests__/components/MangaSourceList.test.jsx
  web/__tests__/components/__snapshots__/ChapterList.test.jsx.snap
  web/__tests__/components/__snapshots__/Follows.test.jsx.snap
  web/__tests__/components/__snapshots__/Manga.test.jsx.snap
  web/__tests__/components/__snapshots__/MangaSourceList.test.jsx.snap
  web/__tests__/components/__snapshots__/MaterialTable.test.jsx.snap
  web/__tests__/initServer.js
  web/__tests__/stopServer.js
  web/__tests__/utils/view-counter/manga-view-counter.test.js
  web/__tests__/views/admin/__snapshots__/Services.test.jsx.snap
  web/package-lock.json
  web/src/components/ChapterList.jsx
  web/src/components/Manga.jsx
  web/src/components/MangaSearch.jsx
  web/src/components/MangaSourceList.jsx
  web/src/components/MaterialTable/EditableSelect.jsx
  web/src/components/MaterialTable/MaterialTable.jsx
  web/src/components/MaterialTable/useEditable.jsx
  web/src/components/PartialManga.jsx
  web/src/utils/theme.js
  web/src/views/MergeManga.jsx
  web/src/views/admin/Services.jsx
Due: frontend

Update MangaAliases tests not to use snapshots
  web/__tests__/components/MangaAliases.test.jsx
  web/__tests__/components/__snapshots__/MangaAliases.test.jsx.snap
Due: frontend

Fix error when fetching manga page with non integer id
  web/src/pages/manga/[mangaId].js
  web/src/utils/utilities.jsx
Due: frontend

Switch TabPanelCustom and Manga tests from snapshot testing to react testing library tests
  web/.eslintrc.json
  web/__tests__/components/Manga.test.jsx
  web/__tests__/components/__snapshots__/Manga.test.jsx.snap
  web/__tests__/components/__snapshots__/MangaInfo.test.jsx.snap
  web/__tests__/components/utils/TabPanelCustom.test.jsx
  web/src/components/Manga.jsx
  web/src/components/MangaInfo.jsx
  web/src/components/MangaSourceList.jsx
Due: frontend

Update packages, rework follows tests
  web/__tests__/components/Follows.test.jsx
  web/__tests__/components/__snapshots__/Follows.test.jsx.snap
  web/__tests__/initServer.js
  web/package-lock.json
  web/package.json
  web/src/components/Follows.jsx
  web/utils/logging.js
Due: frontend

Removed useless snapshot file
  web/__tests__/components/__snapshots__/MangaSourceList.test.jsx.snap
Due: frontend

Rework MangaInfo component tests
  .gitignore
  web/__tests__/components/Manga.test.jsx
  web/__tests__/components/MangaInfo.test.jsx
  web/__tests__/components/__snapshots__/MangaInfo.test.jsx.snap
  web/__tests__/constants.js
  web/src/components/MangaInfo.jsx
Due: frontend

Rework MangaSearch component tests
  web/__tests__/components/MangaSearch.test.jsx
  web/__tests__/components/__snapshots__/MangaSearch.test.jsx.snap
  web/src/components/MangaSearch.jsx
Due: frontend

Update eslint and try to fix tests
  web/.eslintrc.json
  web/__tests__/components/MangaSearch.test.jsx
Due: frontend

Fix MangaSearch tests
  web/__tests__/components/MangaSearch.test.jsx
  web/src/components/MangaSearch.jsx
Due: frontend

Fix MangaSearch tests
  web/__tests__/components/MangaSearch.test.jsx
Due: frontend

Rework MaterialTable tests
  web/__tests__/components/MangaInfo.test.jsx
  web/__tests__/components/MaterialTable.test.jsx
  web/__tests__/components/__snapshots__/MaterialTable.test.jsx.snap
  web/__tests__/constants.js
  web/src/components/MaterialTable/MaterialTable.jsx
  web/src/components/MaterialTable/TablePaginationActions.jsx
  web/src/components/MaterialTable/useEditable.jsx
Due: frontend

update service snapshots
  web/__tests__/views/admin/__snapshots__/Services.test.jsx.snap
Due: frontend

Fix follows rss not showing manga with no manga info row
  web/db/db.js
Due: frontend

Move the relationships object to the data property
  src/scrapers/mangadex/mangadex_api.py
  src/tests/scrapers/mangadex/api_data/chapters.json
  src/tests/scrapers/mangadex/api_data/manga.json
Due: scraper
