Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

Upgrade helmet
  web/package-lock.json
  web/package.json
  web/server.js
Due: frontend

Remove node fetch dependency and fix manga admin component
  web/package-lock.json
  web/package.json
  web/src/views/admin/MangaAdmin.jsx
Due: frontend

Update requirements.txt
  requirements.txt
Due: none

Sort mangadex chapters by readable at instead of publish at
  src/scrapers/mangadex/mangadex.py
  src/scrapers/mangadex/mangadex_api.py
  src/tests/scrapers/mangadex/api_data/chapters.json
Due: scraper

Fix color picker
  web/__tests__/components/notifications/DiscordWebhookEditor.test.jsx
  web/src/components/notifications/ColorPicker.jsx
  web/src/components/notifications/DiscordWebhookEditor.jsx
Due: frontend

Fix embeds not containing message
  src/notifier/webhook.py
Due: scraper

increase connection timeout
  web/db/index.js
Due: frontend

timeout debug
  web/db/index.js
Due: frontend

Systemctl scheduling
  manga-tracker.example.service
  manga-tracker.example.timer
  scripts/deploy_scrapers.sh
Due: none

Frontend for json webhooks
  migrations/20220402181715-webhook-notification.js
  migrations/sqls/20220402181715-webhook-notification-down.sql
  migrations/sqls/20220402181715-webhook-notification-up.sql
  web/__tests__/components/notifications/DiscordWebhookEditor.test.jsx
  web/__tests__/components/notifications/MangaSelector.test.jsx
  web/__tests__/components/notifications/SaveButton.test.jsx
  web/__tests__/components/notifications/WebhookEditor.test.jsx
  web/api/notifications.js
  web/db/index.js
  web/package-lock.json
  web/package.json
  web/src/components/notifications/DiscordWebhookEditor.jsx
  web/src/components/notifications/Layout.jsx
  web/src/components/notifications/MangaSelector.jsx
  web/src/components/notifications/NameInput.jsx
  web/src/components/notifications/NotificationIdField.jsx
  web/src/components/notifications/NotificationsForm.jsx
  web/src/components/notifications/SaveButton.jsx
  web/src/components/notifications/WebhookEditor.jsx
  web/src/components/notifications/defaultDatas.js
  web/src/utils/constants.js
  web/src/utils/utilities.jsx
  web/src/views/Notifications.jsx
  web/swagger/components.yaml
Due: frontend

Backend json webhooks
  src/enums.py
  src/notifier/__init__.py
  src/notifier/base_notifier.py
  src/notifier/discord_webhook.py
  src/notifier/webhook.py
  src/scheduler.py
  src/tests/notifiers/test_discord_webhook.py
  src/tests/notifiers/test_webhook.py
Due: scraper

Fix webhook and tests for dict formatting
  src/notifier/webhook.py
  src/tests/notifiers/test_webhook.py
Due: scraper

Update libraries
  web/__tests__/components/notifications/WebhookEditor.test.jsx
  web/package-lock.json
  web/package.json
Due: frontend

Strip chapter prefix from mangaplus chapters
  src/db/mappers/chapter_mapper.py
  src/scrapers/mangaplus/mangaplus.py
  src/tests/conftest.py
  src/tests/utilities/test_utilities.py
  src/utils/utilities.py
Due: scraper

update _document.js
  web/src/pages/_document.js
Due: frontend

More responsive components
  web/src/components/Manga.jsx
  web/src/components/Root.jsx
  web/src/components/TopBar.jsx
  web/src/views/Notifications.jsx
Due: frontend

Remove @mui/styles package
  web/__tests__/views/Notifications.test.jsx
  web/package-lock.json
  web/package.json
  web/src/views/Notifications.jsx
Due: frontend

Update jest
  web/jest.config.js
  web/package-lock.json
  web/package.json
Due: frontend

Update react
  web/__tests__/views/Notifications.test.jsx
  web/package-lock.json
  web/package.json
  web/setupTests.js
Due: frontend

Update deps and fix mangadex error log
  requirements.txt
  src/scrapers/base_scraper.py
  src/scrapers/mangadex/mangadex.py
Due: scraper

Ignore disabled notifications
  src/utils/dbutils.py
Due: scraper

Support for Azuki.co
  migrations/20220608202021-add-service-azuki.js
  migrations/sqls/20220608202021-add-service-azuki-up.sql
  mypy.ini
  package-lock.json
  package.json
  requirements.txt
  src/db/__init__.py
  src/db/mappers/__init__.py
  src/db/models/__init__.py
  src/scrapers/__init__.py
  src/scrapers/azuki.py
  src/scrapers/base_scraper.py
  src/scrapers/comixology.py
  src/scrapers/mangaplus/protobuf/__init__.py
  src/tests/db/__init__.py
  src/tests/db/mappers/__init__.py
  src/tests/db/models/__init__.py
  src/tests/notifiers/__init__.py
  src/tests/scrapers/azuki/__init__.py
  src/tests/scrapers/azuki/manga_page.html
  src/tests/scrapers/azuki/release_page.html
  src/tests/scrapers/azuki/test_azuki.py
  src/tests/scrapers/comikey/__init__.py
  src/tests/scrapers/comikey/test_comikey.py
  src/tests/scrapers/comixology/__init__.py
  src/tests/scrapers/kireicake/__init__.py
  src/tests/scrapers/kodansha/__init__.py
  src/tests/scrapers/reddit/__init__.py
  src/tests/testing_utils.py
  src/tests/utils/__init__.py
  src/utils/__init__.py
Due: scraper

Support title id in chapter url
  src/db/mappers/notifications_mapper.py
  src/notifier/base_notifier.py
  src/tests/db/mappers/test_notification_mapper.py
  src/tests/notifiers/test_discord_webhook.py
  src/tests/notifiers/test_webhook.py
  web/__tests__/components/ChapterList.test.jsx
  web/__tests__/utils/formatting.test.js
  web/api/rss.js
  web/db/chapter.js
  web/db/db.js
  web/src/components/ChapterList.jsx
  web/src/components/GroupedChapterList.jsx
  web/src/components/Manga.jsx
  web/src/utils/formatting.js
  web/swagger/components.yaml
Due: scraper, frontend

Update dependencies
  web/package-lock.json
  web/package.json
Due: frontend

Path conditions:
  scraper: any of: src/
  frontend: any of: web/
