Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  scraper:
    paths:
      - src/
  frontend:
    paths:
      - web/

Fix mypy and update jobs
  .github/workflows/jest.yml
  .github/workflows/pythonapp.yml
  src/scrapers/base_rss.py
Due: scraper

add names to jobs
  .github/workflows/jest.yml
  .github/workflows/pythonapp.yml
Due: none

Fix comikey language skip on decimal chapters
  src/scrapers/comikey.py
  src/tests/scrapers/comikey/test_comikey.py
Due: scraper

fix redis in job
  .github/workflows/jest.yml
Due: none

Update tests
  web/__tests__/components/ChapterList.test.jsx
  web/__tests__/components/MangaSearch.test.jsx
  web/__tests__/components/MangaSourceList.test.jsx
  web/__tests__/components/MaterialTable.test.jsx
  web/__tests__/components/notifications/DiscordWebhookEditor.test.jsx
  web/__tests__/components/notifications/MangaSelector.test.jsx
  web/__tests__/utils.jsx
  web/__tests__/views/MergeManga.test.jsx
  web/__tests__/views/admin/MangaAdmin.test.jsx
Due: frontend

update dependencies
  web/__tests__/db/session-store.test.js
  web/db/auth.js
  web/db/session-store.js
  web/package-lock.json
  web/package.json
Due: frontend

Webhook notifications for discord
  migrations/20220320143953-notifications-tables.js
  migrations/sqls/20220320143953-notifications-tables-down.sql
  migrations/sqls/20220320143953-notifications-tables-up.sql
  mypy.ini
  package.json
  requirements.txt
  setup_logging.py
  src/db/mappers/notifications_mapper.py
  src/db/models/chapter.py
  src/db/models/manga.py
  src/db/models/notifications.py
  src/db/types.py
  src/enums.py
  src/notifier/__init__.py
  src/notifier/base_notifier.py
  src/notifier/webhook.py
  src/scheduler.py
  src/scrapers/base_rss.py
  src/scrapers/base_scraper.py
  src/scrapers/comikey.py
  src/scrapers/comixology.py
  src/scrapers/foolslide.py
  src/scrapers/mangadex/mangadex.py
  src/scrapers/mangaplus/mangaplus.py
  src/scrapers/reddit.py
  src/tests/db/mappers/test_notification_mapper.py
  src/tests/db/test_database_functions.py
  src/tests/notifiers/test_webhook.py
  src/tests/scrapers/comixology/test_comixology.py
  src/tests/scrapers/kireicake/test_kireicake.py
  src/tests/scrapers/mangadex/test_mangadex.py
  src/tests/test_scheduler.py
  src/tests/testing_utils.py
  src/utils/dbutils.py
Due: scraper

Update requirements.txt
  requirements.txt
Due: none

Update packages
  web/.eslintrc.json
  web/__tests__/components/notifications/MangaSelector.test.jsx
  web/package-lock.json
  web/package.json
Due: frontend

Remove node fetch dependency and fix manga admin component
  web/package-lock.json
  web/package.json
  web/src/views/admin/MangaAdmin.jsx
Due: frontend

Upgrade pino and eslint
  web/.eslintrc.json
  web/__tests__/api/auth.test.js
  web/__tests__/api/manga.test.js
  web/__tests__/components/MangaAliases.test.jsx
  web/__tests__/components/MangaSourceList.test.jsx
  web/__tests__/components/PartialManga.test.jsx
  web/__tests__/utils.jsx
  web/__tests__/utils/utilities.test.js
  web/__tests__/utils/view-counter/manga-view-counter.test.js
  web/db/auth.js
  web/package-lock.json
  web/package.json
  web/src/components/ChapterList.jsx
  web/src/components/Root.jsx
  web/src/components/TopBar.jsx
  web/src/views/admin/MangaAdmin.jsx
  web/utils/logging.js
Due: frontend

Upgrade requirements and update pgsync schema to support v2
  pgsync-schema.example.json
  requirements.txt
Due: none

update protobuf
  src/scrapers/mangaplus/protobuf/mangaplus_pb2.pyi
Due: scraper

New frontpage component for listing the latest chapters
  web/.eslintrc.json
  web/__tests__/api/chapter.test.js
  web/__tests__/api/services.test.js
  web/__tests__/components/GroupedChapterList.test.jsx
  web/__tests__/constants.js
  web/__tests__/schemas.js
  web/__tests__/utils/formatting.test.js
  web/__tests__/utils/utilities.test.js
  web/api/chapter.js
  web/api/services.js
  web/db/chapter.js
  web/db/mangadex.js
  web/db/services/serviceInfo.js
  web/package-lock.json
  web/package.json
  web/server.js
  web/src/api/chapter.js
  web/src/api/services.js
  web/src/components/ChapterList.jsx
  web/src/components/GroupedChapterList.jsx
  web/src/components/MangaCover.jsx
  web/src/utils/formatting.js
  web/src/utils/utilities.jsx
  web/src/views/App.jsx
  web/swagger/components.yaml
  web/swagger/index.js
  web/utils/ratelimits.js
  web/utils/utilities.js
Due: frontend

Upgrade helmet
  web/package-lock.json
  web/package.json
  web/server.js
Due: frontend
