Repository s0hv/manga-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: scraper, frontend

codecov.yml:

coverage:
  status:
    project: off
    patch: off

flags:
  scraper:
    paths:
      - src/
  frontend:
    paths:
      - web/

Scheduled runs for kodansha
  src/db/models/scheduled_run.py
  src/scheduler.py
  src/scrapers/comixology.py
  src/scrapers/kodansha.py
Due: scraper

Kodansha scraper tests
  src/scrapers/kodansha.py
  src/tests/conftest.py
  src/tests/scrapers/kodansha/data.pickle
  src/tests/scrapers/kodansha/test_data.html
  src/tests/scrapers/kodansha/test_kodansha.py
  src/tests/scrapers/reddit/test_reddit.py
  src/tests/testing_utils.py
Due: scraper

Comixology tests and bugfixes
  src/scrapers/comixology.py
  src/tests/scrapers/comixology/test_chapter.html
  src/tests/scrapers/comixology/test_chapters_page.html
  src/tests/scrapers/comixology/test_comixology.py
  src/utils/dbutils.py
Due: scraper

Fix chapter count logging
  src/scrapers/comixology.py
Due: scraper

Fix comixology release dates for single chapters in the case when it is scraped late
  src/scrapers/comixology.py
  src/tests/scrapers/comixology/test_comixology.py
Due: scraper

Remove unused import
  src/scrapers/comixology.py
Due: scraper

Manga model now only consists of the manga table
  src/db/models/manga.py
  src/scrapers/kodansha.py
  src/tests/scrapers/comixology/test_comixology.py
  src/tests/testing_utils.py
Due: scraper

Update packages
  web/__tests__/components/__snapshots__/Root.test.jsx.snap
  web/package-lock.json
  web/package.json
Due: frontend

Fix build
  web/next.config.js
Due: frontend

Ability to set alias as the main series title. Added links from admin manga page and back
  migrations/test/sqls/20200807181921-initTestData-up.sql
  web/__mocks__/next/link.js
  web/__tests__/api/admin/manga.test.js
  web/__tests__/components/MangaAliases.test.jsx
  web/__tests__/components/MangaInfo.test.jsx
  web/__tests__/components/__snapshots__/Manga.test.jsx.snap
  web/__tests__/components/__snapshots__/MangaAliases.test.jsx.snap
  web/__tests__/components/__snapshots__/MangaInfo.test.jsx.snap
  web/__tests__/views/admin/MangaAdmin.test.jsx
  web/__tests__/views/admin/__snapshots__/MangaAdmin.test.jsx.snap
  web/api/admin/manga.js
  web/db/admin/manga.js
  web/db/manga.js
  web/src/components/Manga.jsx
  web/src/components/MangaAliases.jsx
  web/src/components/MangaInfo.jsx
  web/src/pages/admin/manga/[manga_id].jsx
  web/src/utils/useUser.jsx
  web/src/views/admin/MangaAdmin.jsx
Due: frontend

Update problematic snapshot
  web/__tests__/views/admin/__snapshots__/MangaAdmin.test.jsx.snap
Due: frontend

Alias promoting tests
  web/__tests__/components/MangaAliases.test.jsx
  web/__tests__/components/__snapshots__/MangaAliases.test.jsx.snap
  web/src/components/MangaAliases.jsx
Due: frontend

Snapshot test for not found page
  web/__tests__/views/NotFound.test.jsx
  web/__tests__/views/__snapshots__/NotFound.test.jsx.snap
Due: frontend

Reset ratelimits after each test
  web/__tests__/api/admin/manga.test.js
  web/__tests__/api/admin/services.test.js
  web/__tests__/api/chapter.test.js
  web/__tests__/api/manga.test.js
  web/__tests__/api/search.test.js
  web/__tests__/api/settings.test.js
  web/__tests__/api/user.test.js
Due: frontend

Tests for sign in
  web/__tests__/utils.jsx
  web/__tests__/views/SignIn.test.jsx
  web/src/views/SignIn.jsx
Due: frontend

More requests for ratelimit test
  web/__tests__/api/auth.test.js
Due: frontend

Fix alias promotion
  web/src/pages/admin/manga/[manga_id].jsx
  web/src/views/admin/MangaAdmin.jsx
Due: frontend

Fix mangadex api data fetching
  src/scrapers/mangadex.py
Due: scraper

Fixed year in root snapshot
  web/__tests__/components/Root.test.jsx
Due: frontend

Force updating mangadex single manga now updates existing titles
  src/scrapers/mangadex.py
  src/utils/dbutils.py
Due: scraper

Show status on manga page
  web/__tests__/components/MangaInfo.test.jsx
  web/__tests__/components/__snapshots__/MangaInfo.test.jsx.snap
  web/__tests__/utils/utilities.test.js
  web/src/components/MangaInfo.jsx
  web/src/utils/utilities.jsx
Due: frontend

Search resets and closes when a link is clicked
  web/__tests__/views/admin/__snapshots__/MangaAdmin.test.jsx.snap
  web/src/components/MangaSearch.jsx
Due: frontend

Test database can now be a different one which helps in the development environment
  .github/workflows/jest.yml
  .github/workflows/pythonapp.yml
  migrations-config.json
  package.json
  web/db/index.js
Due: frontend

Update dependencies
  web/package-lock.json
  web/package.json
Due: frontend

Simple manga view counter implementation
  migrations/20210131171057-manga-views.js
  migrations/sqls/20210131171057-manga-views-down.sql
  migrations/sqls/20210131171057-manga-views-up.sql
  web/db/session-store.js
  web/src/pages/manga/[manga_id].js
  web/utils/view-counter/index.js
  web/utils/view-counter/manga-view-counter.js
Due: frontend

Fix onSessionExpire returning undefined
  web/utils/view-counter/manga-view-counter.js
Due: frontend

Fix cases where chapter does not contain chapter number
  src/scrapers/reddit.py
Due: scraper

Experimental: views affect search sorting
  web/api/search.js
Due: frontend

Show rss feed link on follows page
  web/__tests__/components/Follows.test.jsx
  web/__tests__/components/__snapshots__/Follows.test.jsx.snap
  web/__tests__/views/__snapshots__/Follows.test.jsx.snap
  web/src/components/Follows.jsx
  web/src/views/Follows.jsx
Due: frontend

Delete old sessions automatically every 2 hours
  web/db/session-store.js
Due: frontend

Move from postgres queries to elasticsearch for search functionalities
  .gitignore
  migrations/20210211185222-drop-search-indexes.js
  migrations/sqls/20210211185222-drop-search-indexes-down.sql
  migrations/sqls/20210211185222-drop-search-indexes-up.sql
  pgsync-schema.example.json
  web/api/search.js
  web/db/elasticsearch/index.js
  web/db/elasticsearch/manga.js
  web/db/elasticsearch/utils.js
  web/db/manga.js
  web/package-lock.json
  web/package.json
Due: frontend

Fix linting issues
  web/src/components/Follows.jsx
  web/src/components/MangaAliases.jsx
  web/src/views/Follows.jsx
  web/src/views/SignIn.jsx
  web/src/views/admin/MangaAdmin.jsx
Due: frontend

Close elasticsearch connection after tests
  web/__tests__/stopServer.js
Due: frontend

actions debug
  web/__tests__/api/admin/services.test.js
  web/__tests__/initServer.js
  web/package-lock.json
  web/package.json
Due: frontend

add elastic node environment variable
  .github/workflows/jest.yml
Due: none

testing github actions
  web/__tests__/api/admin/services.test.js
  web/__tests__/initServer.js
Due: frontend

elasticsearch mocking
  web/__tests__/api/admin/services.test.js
  web/__tests__/initServer.js
  web/package-lock.json
  web/package.json
Due: frontend

Follows view tests
  web/__tests__/utils.jsx
  web/__tests__/views/Follows.test.jsx
  web/src/views/Follows.jsx
Due: frontend

Setting up next SEO
  web/package-lock.json
  web/package.json
  web/src/components/MangaSearch.jsx
  web/src/components/Root.jsx
  web/src/components/TopBar.jsx
  web/src/pages/_app.js
  web/src/pages/admin/manga/[manga_id].jsx
  web/src/pages/admin/services.js
  web/src/pages/follows.js
  web/src/pages/login.js
  web/src/pages/manga/[manga_id].js
  web/src/pages/manga/merge.js
  web/src/pages/profile.js
  web/src/utils/withError.jsx
Due: frontend

Update search query and add elasticsearch authentication
  web/db/elasticsearch/index.js
  web/db/elasticsearch/manga.js
Due: frontend
